@{
    ViewData["Title"] = "Home Page";

}

<main class="v-main" style="--v-layout-left: 315px; --v-layout-right: 0px; --v-layout-top: 64px; --v-layout-bottom: 0px;">
    <!----><!----><!---->
    <div class="v-container v-locale--is-ltr">
        <div class="v-row mb-2">
            <div class="v-col-md-5 v-col-lg-4 v-col-12 d-flex">
                <h1 class="text-uppercase text-blue-cool-600 mb-0 align-self-center mr-6">Account</h1>
                <div class="align-self-end ga-2 d-flex">
                    <button type="button" class="v-btn v-btn--elevated v-btn--icon v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-elevated bg-primary icon-profile">
                        <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                        <span class="v-btn__content" data-no-activator="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.462 2.49312C15.2508 2.16628 16.0963 1.99805 16.9501 1.99805C17.804 1.99805 18.6495 2.16628 19.4383 2.49312C20.2269 2.81991 20.9435 3.29885 21.5471 3.9026C22.1508 4.50615 22.6301 5.22306 22.9569 6.01173C23.2837 6.80054 23.4519 7.64602 23.4519 8.49987C23.4519 9.35372 23.2837 10.1992 22.9569 10.988C22.6301 11.7768 22.1511 12.4934 21.5472 13.097C21.5472 13.097 21.5473 13.0969 21.5472 13.097L12.7072 21.937C12.3167 22.3275 11.6835 22.3275 11.293 21.937L2.45301 13.097C1.23378 11.8778 0.548828 10.2241 0.548828 8.49987C0.548828 6.77562 1.23378 5.12199 2.45301 3.90277C3.67224 2.68354 5.32587 1.99858 7.05012 1.99858C8.77437 1.99858 10.428 2.68354 11.6472 3.90277L12.0001 4.25566L12.3528 3.90293C12.3528 3.90299 12.3529 3.90288 12.3528 3.90293C12.9564 3.29911 13.6732 2.81994 14.462 2.49312ZM16.9501 3.99805C16.359 3.99805 15.7737 4.11451 15.2276 4.34079C14.6815 4.56707 14.1853 4.89873 13.7674 5.31681L12.7072 6.37698C12.3167 6.7675 11.6835 6.7675 11.293 6.37698L10.233 5.31698C9.38886 4.47282 8.24394 3.99858 7.05012 3.99858C5.8563 3.99858 4.71138 4.47282 3.86723 5.31698C3.02307 6.16114 2.54883 7.30606 2.54883 8.49987C2.54883 9.69369 3.02307 10.8386 3.86723 11.6828L12.0001 19.8157L20.133 11.6828C20.5511 11.2649 20.8829 10.7685 21.1092 10.2224C21.3355 9.67633 21.4519 9.091 21.4519 8.49987C21.4519 7.90875 21.3355 7.32341 21.1092 6.77731C20.8829 6.23121 20.5513 5.73504 20.1332 5.31715C19.7153 4.89906 19.2188 4.56707 18.6727 4.34079C18.1266 4.11451 17.5412 3.99805 16.9501 3.99805Z" fill="white"></path>
                            </svg>
                        </span>
                        <!----><!---->
                    </button>
                    <button type="button" class="v-btn v-btn--elevated v-btn--icon v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-elevated bg-primary icon-profile">
                        <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                        <span class="v-btn__content" data-no-activator="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3 5C2.44772 5 2 5.44772 2 6V18C2 18.5523 2.44772 19 3 19H21C21.5523 19 22 18.5523 22 18V6C22 5.44772 21.5523 5 21 5H3ZM0 6C0 4.34315 1.34315 3 3 3H21C22.6569 3 24 4.34315 24 6V18C24 19.6569 22.6569 21 21 21H3C1.34315 21 0 19.6569 0 18V6Z" fill="white"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 10C14 9.44772 14.4477 9 15 9L19 9C19.5523 9 20 9.44772 20 10C20 10.5523 19.5523 11 19 11H15C14.4477 11 14 10.5523 14 10Z" fill="white"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 14C14 13.4477 14.4477 13 15 13H19C19.5523 13 20 13.4477 20 14C20 14.5523 19.5523 15 19 15H15C14.4477 15 14 14.5523 14 14Z" fill="white"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 16C0 15.4477 0.447715 15 1 15H10C11.0609 15 12.0783 15.4214 12.8284 16.1716C13.5786 16.9217 14 17.9391 14 19V20C14 20.5523 13.5523 21 13 21C12.4477 21 12 20.5523 12 20V19C12 18.4696 11.7893 17.9609 11.4142 17.5858C11.0391 17.2107 10.5304 17 10 17H1C0.447715 17 0 16.5523 0 16Z" fill="white"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 8C5.89543 8 5 8.89543 5 10C5 11.1046 5.89543 12 7 12C8.10457 12 9 11.1046 9 10C9 8.89543 8.10457 8 7 8ZM3 10C3 7.79086 4.79086 6 7 6C9.20914 6 11 7.79086 11 10C11 12.2091 9.20914 14 7 14C4.79086 14 3 12.2091 3 10Z" fill="white"></path>
                            </svg>
                        </span>
                        <!----><!---->
                    </button>
                </div>
            </div>
            <div class="v-col-md-7 v-col-lg-8 v-col-12 d-flex mt-auto">
                <div class="v-slide-group v-tabs v-tabs--horizontal v-tabs--align-tabs-left v-tabs--density-default chirpley-tabs ml-md-auto" tabindex="-1" role="tablist">
                    <!---->
                    <div class="v-slide-group__container">
                        <div class="v-slide-group__content">
                            <button type="button" class="v-btn v-tab-item--selected v-tab--selected v-theme--light text-primary v-btn--density-default v-btn--size-default v-btn--variant-text v-tab" tabindex="0" role="tab" aria-selected="true" value="Personal information">
                                <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                <span class="v-btn__content" data-no-activator="">
                                    Personal information
                                    <div class="v-tab__slider"></div>
                                </span>
                                <!----><!---->
                            </button>
                            <button type="button" class="v-btn v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-text v-tab" tabindex="-1" role="tab" aria-selected="false" value="Platforms">
                                <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                <span class="v-btn__content" data-no-activator="">
                                    Platforms
                                    <div class="v-tab__slider"></div>
                                </span>
                                <!----><!---->
                            </button>
                            <button type="button" class="v-btn v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-text v-tab" tabindex="-1" role="tab" aria-selected="false" value="Markets &amp; Niches">
                                <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                <span class="v-btn__content" data-no-activator="">
                                    Markets &amp; Niches
                                    <div class="v-tab__slider"></div>
                                </span>
                                <!----><!---->
                            </button>
                            <button type="button" class="v-btn v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-text v-tab" tabindex="-1" role="tab" aria-selected="false" value="Notifications">
                                <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                <span class="v-btn__content" data-no-activator="">
                                    Notifications
                                    <div class="v-tab__slider"></div>
                                </span>
                                <!----><!---->
                            </button>
                            <button type="button" class="v-btn v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-text v-tab" tabindex="-1" role="tab" aria-selected="false" value="Payments">
                                <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                <span class="v-btn__content" data-no-activator="">
                                    Payments
                                    <div class="v-tab__slider"></div>
                                </span>
                                <!----><!---->
                            </button>
                            <button type="button" class="v-btn v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-text v-tab" tabindex="-1" role="tab" aria-selected="false" value="Referrals">
                                <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                <span class="v-btn__content" data-no-activator="">
                                    Referrals
                                    <div class="v-tab__slider"></div>
                                </span>
                                <!----><!---->
                            </button>
                        </div>
                    </div>
                    <!---->
                </div>
                <!---->
            </div>
        </div>
        <!----><!---->
        <div class="card px-2 py-2">
            <div class="px-3 py-3 px-md-6 py-md-6" platforms_settings="[object Object]" social_platforms="[object Object],[object Object],[object Object],[object Object],[object Object]" campaign_services="[object Object]" user_niches="[object Object],[object Object],[object Object],[object Object]" user_wallets="" bankaccount="false" user_markets="[object Object],[object Object]" transactions="" withdrawal_requests="" notification_settings="" notification_subjects="[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]" referred_users="" company="[object Object]">
                <div class="v-row">
                    <div class="v-col-md-6 v-col-12">
                        <h2 class="text-title text-uppercase mb-6">Personal information</h2>
                        <hr class="v-divider v-theme--light" aria-orientation="horizontal" role="separator">
                        <div class="v-row py-6">
                            <div class="v-col-md-4 v-col-12 d-flex">
                                <p class="text-normal align-self-center">Profile photo</p>
                            </div>
                            <div class="v-col-md-4 v-col-12"></div>
                            <div class="v-col-md-4 v-col-12 d-flex justify-end">
                                <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--variant-flat" style="width: 40px; height: 40px;">
                                    <div class="v-responsive v-img bird-image">
                                        <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                        <img class="v-img__img v-img__img--cover" src="https://v3.chirpley.ai/default_avatar.png" style=""><!----><!----><!----><!----><!---->
                                    </div>
                                    <!----><span class="v-avatar__underlay"></span>
                                </div>
                                <!----><!---->
                                <button type="button" class="v-btn v-theme--light v-btn--density-compact v-btn--size-default v-btn--variant-text rounded-xl align-self-center text-primary px-0 mr-n4">
                                    <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator=""><strong>Edit</strong></span><!----><!---->
                                </button>
                            </div>
                        </div>
                        <hr class="v-divider v-theme--light mb-6" aria-orientation="horizontal" role="separator">
                        <button type="button" class="v-btn v-btn--elevated v-theme--light bg-secondary v-btn--density-default v-btn--size-default v-btn--variant-elevated btn mt-6 ml-auto d-block">
                            <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator="">Edit</span><!----><!---->
                        </button>
                        <hr class="v-divider v-theme--light mt-6" aria-orientation="horizontal" role="separator">
                        <div class="v-row py-6">
                            <div class="v-col-md-4 v-col-3 d-flex">
                                <p class="text-normal align-self-center">Name</p>
                            </div>
                            <div class="v-col-md-8 v-col-9 d-flex flex-wrap ga-2">
                                <p class="text-normal align-self-center text-bold text-blue-cool-600 text-right ml-auto">raphael santo</p>
                                <!----><!---->
                            </div>
                        </div>
                        <hr class="v-divider v-theme--light" aria-orientation="horizontal" role="separator">
                        <div class="v-row py-6">
                            <div class="v-col-md-4 v-col-3 d-flex">
                                <p class="text-normal align-self-center">E-mail</p>
                            </div>
                            <div class="v-col-md-8 v-col-9 d-flex">
                                <p class="text-normal align-self-center text-bold text-blue-cool-600 text-right ml-auto">raphael.esanto@gmail.com</p>
                                <!---->
                            </div>
                        </div>
                        <hr class="v-divider v-theme--light" aria-orientation="horizontal" role="separator">
                        <div class="v-row py-6">
                            <div class="v-col-md-4 v-col-3 d-flex">
                                <p class="text-normal align-self-center">Username</p>
                            </div>
                            <div class="v-col-md-8 v-col-9 d-flex">
                                <p class="text-normal align-self-center text-bold text-blue-cool-600 text-right ml-auto">raphaelsanto</p>
                                <!---->
                            </div>
                        </div>
                        <hr class="v-divider v-theme--light" aria-orientation="horizontal" role="separator">
                        <div class="v-row py-6">
                            <div class="v-col-md-4 v-col-3 d-flex">
                                <p class="text-normal align-self-center">Password</p>
                            </div>
                            <div class="v-col-md-8 v-col-9 d-flex flex-wrap">
                                <p class="text-normal align-self-center text-bold text-blue-cool-600 text-right ml-auto">•••••••••••••••</p>
                                <div class="v-row">
                                    <div class="v-col-md-6 v-col-12 px-0">
                                        <!---->
                                    </div>
                                    <div class="v-col-md-6 v-col-12 pl-0">
                                        <!---->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="v-divider v-theme--light mb-15" aria-orientation="horizontal" role="separator">
                        <h2 class="text-title text-uppercase my-6">Location</h2>
                        <hr class="v-divider v-theme--light" aria-orientation="horizontal" role="separator">
                        <div class="v-row py-6">
                            <div class="v-col-md-4 v-col-6 d-flex">
                                <p class="text-normal align-self-center">Current location</p>
                            </div>
                            <div class="v-col-md-8 v-col-6 d-flex">
                                <p class="text-normal align-self-center text-bold text-blue-cool-600 text-right ml-auto">Rua Guido Meneghett  Jardim Iracema</p>
                            </div>
                        </div>
                        <hr class="v-divider v-theme--light" aria-orientation="horizontal" role="separator">
                        <div class="v-row py-6">
                            <div class="v-col-md-4 v-col-6 d-flex">
                                <p class="text-normal align-self-center">Location setting</p>
                            </div>
                            <div class="v-col-md-8 v-col-6 d-flex">
                                <div class="v-input v-input--horizontal v-input--center-affix v-input--density-compact v-theme--light v-locale--is-ltr v-input--dirty v-text-field v-select v-select--single v-select--selected input">
                                    <!---->
                                    <div class="v-input__control">
                                        <div class="v-field v-field--active v-field--appended v-field--center-affix v-field--dirty v-field--single-line v-field--variant-filled v-theme--light v-locale--is-ltr" role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-owns="v-menu-767">
                                            <div class="v-field__overlay"></div>
                                            <div class="v-field__loader">
                                                <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px;">
                                                    <!---->
                                                    <div class="v-progress-linear__background"></div>
                                                    <div class="v-progress-linear__buffer" style="width: 0%;"></div>
                                                    <div class="v-progress-linear__indeterminate">
                                                        <div class="v-progress-linear__indeterminate long"></div>
                                                        <div class="v-progress-linear__indeterminate short"></div>
                                                    </div>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!---->
                                            <div class="v-field__field" data-no-activator="">
                                                <!---->
                                                <label class="v-label v-field-label" for="input-765">
                                                    <!---->Select location setting
                                                </label>
                                                <!---->
                                                <div class="v-field__input" data-no-activator="">
                                                    <!----><!---->
                                                    <div class="v-select__selection">
                                                        <span class="v-select__selection-text">
                                                            Allow location access on app use<!---->
                                                        </span>
                                                    </div>
                                                    <input size="1" type="text" id="input-765" aria-describedby="input-765-messages" inputmode="none" aria-label="Open" title="Open">
                                                </div>
                                                <!---->
                                            </div>
                                            <!---->
                                            <div class="v-field__append-inner">
                                                <!---->
                                                <i class="v-icon notranslate v-theme--light v-icon--size-default v-select__menu-icon" aria-hidden="true">
                                                    <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                        <path d="M7,10L12,15L17,10H7Z"></path>
                                                    </svg>
                                                </i>
                                                <!---->
                                            </div>
                                            <div class="v-field__outline">
                                                <!----><!---->
                                            </div>
                                        </div>
                                    </div>
                                    <!----><!---->
                                </div>
                            </div>
                        </div>
                        <hr class="v-divider v-theme--light" aria-orientation="horizontal" role="separator">
                        <button type="button" class="v-btn v-btn--elevated v-theme--light bg-primary v-btn--density-default v-btn--size-default v-btn--variant-elevated btn mt-6 min-width">
                            <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator="">Save</span><!----><!---->
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>








         