@{
    ViewData["Title"] = "Home Page";
}

<div id="vision-and-mission" class="page p-vision-and-mission hidden">
	<div class="fixed-wrapper"></div>
	<div class="js-scroll">
		<main class="page-wrapper">

			<section class="p-vision-and-mission__header" data-prllx="1.5" data-p-no-mask data-p-top>
				<div class="abs background-wrapper">
					<div class="abs background" data-p-elt>
						<div class="abs circle"></div>
					</div>
				</div>
				<div class="abs eyes" data-prllx="1" data-p-no-mask data-p-top>
					<div class="eyes-wrapper">
						<video class="eyes-loop" autoplay muted playsinline loop>
							<source data-src="https://chirpley.ai/library/videos/vision-yeux.mp4" type="video/mp4"></source>
						</video>
					</div>
				</div>
				<h1 class="h--1 title">Visi<i>o</i>n</h1>
			</section>

			<section class="p-vision-and-mission__vision">
				<div class="block-title" data-prllx=".5" data-p-no-mask>
					<h2 class="title" data-p-elt><b>Small influencers</b> are not alone anymore.</h2>
					<div class="text">
						<p>Look at the small influencers of this world. <strong>So much to give, so much to share.</strong> But so little help to make the most of it.</p>
						<p>No-one there to pave their way to success. Existing platforms lacking the technology to help them grow. <strong>Time to break down</strong> all barriers between them and the marketing community.</p>
					</div>
				</div>
				<div class="block-numbers">
					<h2 class="numbers"><em>0000</em>1500</h2>
					<h3 class="title">Nano=MEGA</h3>
				</div>
				<div class="bird" data-prllx=".8" data-p-no-mask>
					<picture class="r " style="padding-bottom:89.409862570736%" data-ratio="0.89409862570736"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://chirpley.ai/library/media/vision-bird.png" data-srcset="https://chirpley.ai/library/media/vision-bird-320x0-c-default.png 320w, https://chirpley.ai/library/media/vision-bird-640x0-c-default.png 640w, https://chirpley.ai/library/media/vision-bird-1024x0-c-default.png 1024w, https://chirpley.ai/library/media/vision-bird.png 1237w" data-sizes="(min-width: 750px) 50vw, 120vw" alt=""></picture>
				</div>
				<div class="title-2">
					<p>It is time for disruption. <strong>Time to liberate small influencers from anything</strong> that stands in the way of greater success. Time to hand them what they deserve</p>
				</div>
				<div class="p--s mentions">
					<p>
						* Free and easy access to brands, businesses and sponsorships<br>
						* The marketing power to maximize their earnings<br>
						* Specialized support to improve their quality and effectiveness as micro-influencer<br>
						* The chance to become a full-time professional influencer if they want to.
					</p>
				</div>
				<div class="tablet" data-prllx=".8" data-p-no-mask>
					<picture class="r " style="padding-bottom:64.606376057254%" data-ratio="0.64606376057254"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://chirpley.ai/library/media/chirpley-plateform.png" data-srcset="https://chirpley.ai/library/media/chirpley-plateform-320x0-c-default.png 320w, https://chirpley.ai/library/media/chirpley-plateform-640x0-c-default.png 640w, https://chirpley.ai/library/media/chirpley-plateform-1024x0-c-default.png 1024w, https://chirpley.ai/library/media/chirpley-plateform-1280x0-c-default.png 1280w, https://chirpley.ai/library/media/chirpley-plateform-1440x0-c-default.png 1440w, https://chirpley.ai/library/media/chirpley-plateform.png 1537w" data-sizes="(min-width: 750px) 80vw, 100vw" alt=""></picture>
				</div>
			</section>

			<section class="p-vision-and-mission__mission">
				<div class="abs background">
					<div class="t-center circle"></div>
				</div>
				<div class="abs bird" data-prllx=".5" data-p-no-mask>
					<div class="wrapper">
						<video class="eyes-loop lazy" autoplay muted playsinline loop>
							<source data-src="https://chirpley.ai/library/videos/vision-pigeon.mp4" type="video/mp4"></source>
						</video>
						<div class="abs gradient"></div>
					</div>
				</div>
				<h1 class="h--1 title">Missi<i>o</i>n</h1>
				<h2 class="subtitle">Chirpley wants to create the most effective small influencer marketing platform in the world.</h2>
				<div class="block-logo">
					<div class="f-center logo-wrapper">
						<div class="logo" data-prllx=".8" data-p-no-mask>
							<video class="token-loop lazy" autoplay muted playsinline loop>
								<source data-src="https://chirpley.ai/library/videos/chirpley-token-grey.mp4" type="video/mp4"></source>
							</video>
						</div>
					</div>
					<div class="p--s text">
						<p>Chirpley is the world’s first fully automated, peer-to-peer, all-in-one influencer marketplace totally dedicated to nano and micro-influencers.</p>
						<p>Chirpley will be the one platform that enables end-to-end automated influencing campaigns through Artificial Intelligence, Machine Learning and Blockchain technology. We will break down all barriers between small influencers and the marketing community, facilitating absolutely perfect matches with sponsors and brands. No more tiresome negotiating between influencers, marketers and agents. No more mismatched selection of influencers and marketers.</p>
						<p>
							Chirpley applies cutting-edge technology to speed up matchmaking, dealmaking, price setting and campaign launching.<br>
							Chirpley allows marketers to set up 1-click influencer marketing bombs that will see sales take off and earnings soar.
						</p>
						<p>Chirpley is also laying the foundation for the first completely autonomous, decentralized platform, based on blockchain technology and our own Chirpley token.</p>
						<p>Chirpley will take nano- and micro-influencer marketing to the next level. Changing not just the face of influencer marketing, but also the lives of all small influencers who’ll take part in it.</p>
					</div>
				</div>
			</section>

		</main>

		@await Html.PartialAsync("_Footer")
	</div>
</div>
