@{
    ViewData["Title"] = "Home Page";
}

<div id="roadmap" class="page p-roadmap hidden">
	<div class="fixed-wrapper"></div>
	<div class="js-scroll">
		<main class="page-wrapper">

			<section class="p-roadmap__header">
				<h1 class="title"><em>Road</em> Map</h1>
			</section>

			<section class="p-roadmap__timeline">
				<div class="robot">
					<div class="robot-desktop">
						<picture class="r " style="padding-bottom:127.09497206704%" data-ratio="1.2709497206704"><img class="lazy entered loaded" src="~/library/media/maker_nft.gif" data-src="/library/media/maker_nft.gif" data-srcset="/library/media/maker_nft.png 320w, /library/media/maker_nft.gif 640w, /library/media/maker_nft.gif 1024w, /library/media/maker_nft.gif 1074w" data-sizes="40vw" alt="NFT" data-ll-status="loaded" sizes="40vw" srcset="/library/media/maker_nft.png 320w, /library/media/maker_nft.gif 640w, /library/media/maker_nft.gif 1024w, /library/media/maker_nft.gif 1074w"></picture>
						@* <video class="token-loop lazy" autoplay muted playsinline loop>
							<source data-src="https://chirpley.ai/library/videos/chirpley-roadmap-robot.mp4" type="video/mp4"></source>
						</video> *@
						@* <div class="abs gradient"></div> *@
					</div>
				</div>
				<ul class="list">
					<li class="item">
						<div class="bg"></div>
						<div class="wrapper">
							<h2 class="title">Q4 2024</h2>
							<p class="text">
								- Company Creation<br>
								- Start Develoment Ada Makers<br>
								- Start of Sales for the SparkPro NFT Collection<br>
								- Platform Launch<br>
								- Wallet Integration
							</p>
						</div>
					</li>

					<li class="item">
						<div class="bg"></div>
						<div class="wrapper">
							<h2 class="title">Q1 2025</h2>
							<p class="text">
								- Initial Liquidity $MKRS Token<br>
								- Airdrop $MKRS Token<br>
								- Product MVP<br>
								- Integration with Twitter<br>
								- Integration with real-time metrics and data
							</p>
						</div>
					</li>

				</ul>
			</section>

		</main>
		@await Html.PartialAsync("_Footer")
	</div>
</div>
