@{
    ViewData["Title"] = "Home Page";
}

<div id="vision-and-mission" class="page p-vision-and-mission hidden">
	<div class="fixed-wrapper"></div>
	<div class="js-scroll">
		<main class="page-wrapper">

			<section class="p-vision-and-mission__header" data-prllx="1.5" data-p-no-mask data-p-top>
				<div class="abs background-wrapper">
					<div class="abs background" data-p-elt>
						<div class="abs circle"></div>
					</div>
				</div>
				<div class="abs eyes" data-prllx="1" data-p-no-mask data-p-top style="opacity: 0 !important;">
					<div class="eyes-wrapper">
						<video class="eyes-loop" autoplay muted playsinline loop>
							<source data-src="/library/videos/fakedot.mp4" type="video/mp4"></source>
						</video>
					</div>
				</div>
				<h1 class="h--1 title">Purpose</h1>
			</section>

			<section class="p-vision-and-mission__vision">
				<div class="block-title" data-prllx=".5" data-p-no-mask>
					<h2 class="title" data-p-elt><b>Small projects,</b> you will be heard</h2>
					<div class="text">
						<p>Great ideas sometimes come from the most unlikely places. But even the best ideas need a way to show the world they exist.</p>
						<p>It is crucial to pave the way for these ideas to succeed. Leveraging the greatest asset of the Cardano network for this purpose is our goal. We have the largest and best crypto community, and we can empower projects while fairly rewarding everyone who chooses to join this revolution.</p>
					</div>
				</div>
				<div class="block-numbers">
					<h2 class="numbers"><em>0000</em>0000</h2>
					<h3 class="title">MAKERS/CREATORS</h3>
				</div>
				<div class="bird" data-prllx=".8" data-p-no-mask>
					<picture class="r " style="padding-bottom:89.409862570736%" data-ratio="0.89409862570736"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/library/media/imagem_site.png" data-srcset="/library/media/imagem_site.png 320w, /library/media/imagem_site.png 640w, /library/media/imagem_site.png 1024w, /library/media/imagem_site.png 1237w" data-sizes="(min-width: 750px) 50vw, 120vw" alt=""></picture>
				</div>
				<div class="title-2">
					<p>Small teams often struggle to promote their ideas, projects, airdrops, tokens, and collections. This is a problem because it limits the network's growth. We are changing this, NOW!</p>
				</div>
				<div class="p--s mentions">
					<p>
						* Easy access for holders of at least one NFT from the SparkPro collection.<br>
						* Anyone with a social media profile can participate in campaigns and earn money.<br>
						* Every project can run marketing campaigns at a price never seen before.<br>
						* The change the Cardano network needed to unlock its community's full potential.
					</p>
				</div>
				@* <div class="tablet" data-prllx=".8" data-p-no-mask>
					<picture class="r " style="padding-bottom:64.606376057254%" data-ratio="0.64606376057254"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://chirpley.ai/library/media/chirpley-plateform.png" data-srcset="https://chirpley.ai/library/media/chirpley-plateform-320x0-c-default.png 320w, https://chirpley.ai/library/media/chirpley-plateform-640x0-c-default.png 640w, https://chirpley.ai/library/media/chirpley-plateform-1024x0-c-default.png 1024w, https://chirpley.ai/library/media/chirpley-plateform-1280x0-c-default.png 1280w, https://chirpley.ai/library/media/chirpley-plateform-1440x0-c-default.png 1440w, https://chirpley.ai/library/media/chirpley-plateform.png 1537w" data-sizes="(min-width: 750px) 80vw, 100vw" alt=""></picture>
				</div> *@
			</section>

			<section class="p-vision-and-mission__mission">
				<div class="abs background">
					<div class="t-center circle"></div>
				</div>
				<div class="abs bird" data-prllx=".5" data-p-no-mask style="opacity: 0 !important;">
					<div class="wrapper">
						<video class="eyes-loop lazy" autoplay muted playsinline loop>
							<source data-src="/library/videos/fakedot.mp4" type="video/mp4"></source>
						</video>
						<div class="abs gradient"></div>
					</div>
				</div>
				<h1 class="h--1 title">TO WORK</h1>
				<h2 class="subtitle">Ada Makers is the world's first social engagement marketplace for decentralized marketing, fully dedicated to ensuring the promotion and increasing the relevance of projects and social networks.</h2>
				<div class="block-logo">
					<div class="f-center logo-wrapper">
						<div class="logo" data-prllx=".8" data-p-no-mask >
							<video class="token-loop lazy" autoplay muted playsinline loop>
								<source data-src="/library/videos/maker-intro_loop.mp4" type="video/mp4"></source>
							</video>
						</div>
					</div>
					<div class="p--s text">
						<p>Ada Makers will be the only platform that allows the creation of campaigns tailored to budgets and objectives through a unique and innovative concept, with cutting-edge technology integrated into Cardano's blockchain. We will break all barriers between MAKERS and CREATORS, facilitating contact, strategy, and the hiring of MAKERS to promote projects. The difficulty of hiring influencers to promote small and medium-sized projects is over. The time has come for projects on the Cardano network to reach a new level, once again.</p>
						<p>Ada Makers uses a matchmaking system based on reach goals and budgets. Campaign distribution is fair and automated.</p>
						<p>
							Ada Makers allows anyone with a social media profile to earn money with their engagement, even if it's small, helping amazing projects get noticed worldwide.
						</p>
						<p>Ada Makers is creating the world's first social engagement marketplace for decentralized marketing, fully based on blockchain technology on the Cardano network, along with our MAKERS token.</p>
					</div>
				</div>
			</section>

		</main>

		@await Html.PartialAsync("_Footer")
	</div>
</div>
