

<footer class="footer">
    <section class="footer-connect" data-prllxoxo="-.9" data-p-no-mask>
        <div class="bubble" data-p-elt>
            <h2 class="bubble-title">Join Ada Makers now. Get your NFT and start earning today.</h2>
            <a class="c-btn" href="https://v3.chirpley.ai/" target="_blank" rel="noopener"><span class="title">Launch App</span></a>
            <div class="anchor">
                @* <svg viewbox="0 0 216 114" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M61.3841 84.3764C28.4548 28.8555 6.88667 15.2323 0.21875 15.3609C85.4912 8.54921 246.957 -3.68604 210.643 1.86604C174.328 7.41813 142.938 54.8165 131.782 77.8217C122.037 103.14 94.3134 139.897 61.3841 84.3764Z" fill="#F24139"></path>
                                    </svg>
                                    <?xml version="1.0" encoding="UTF-8"?> *@
                <svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 215.66 112.93">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #141414;
                            }
                        </style>
                    </defs>
                    <path class="cls-1" d="M61.17,83.92C28.24,28.39,6.67,14.77,0,14.9,85.27,8.09,246.74-4.15,210.42,1.41c-36.32,5.55-67.71,52.95-78.86,75.96-9.74,25.32-37.47,62.08-70.4,6.55Z" />
                </svg>
            </div>
        </div>
        <div class="oeuf debug" data-prllx=".3" data-p-no-mask>
            <picture class="r " style="padding-bottom:29.658605974395%" data-ratio="0.29658605974395"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/library/images/adamaker_m_footer.png" data-srcset="/library/images/adamaker_m_footer.png 320w, /library/images/m_raio.png 640w, /library/images/adamaker_m_footer.png 1024w, /library/images/adamaker_m_footer.png 1280w, /library/images/adamaker_m_footer.png 1406w" data-sizes="(min-width: 750px) 60vw, 150vw" alt="Oeuf"></picture>
        </div>
    </section>
    <section class="footer-menus">
        <nav class="footer-menu">
            <a class="item" data-name="Media Kits" href="library/media/adamakers-media-kit.zip" target="_blank" rel="noopener">
                <span class="title">Media Kits</span>
            </a>
            <a class="item" data-name="Partners" href="/partners">
                <span class="title">Partners</span>
            </a>
            <a class="item" data-name="Token" href="/token">
                <span class="title">Token</span>
            </a>
            <a class="item" data-name="Roadmap" href="/roadmap">
                <span class="title">Roadmap</span>
            </a>
        </nav>
        <nav class="footer-more">
            <h3 class="title">More Info</h3>
            <a class="item" data-name="Docs " href="https://ada-makers.gitbook.io/ada-makers" target="_blank" rel="noopener">Gitbook </a>
            @* <a class="item" data-name="Docs " href="https://chirpley.gitbook.io/docs" target="_blank" rel="noopener">Docs </a> *@
        </nav>
        <nav class="footer-more">
            @* <a class="tradeLinks" href="https://coinmarketcap.com/currencies/chirpley/" target="blank"><img class="icon" src="library/media/icon-cmc.png" alt="CoinMarketcap"></a>
            <a class="tradeLinks" href="https://www.bybit.com/en-US/trade/spot/CHRP/USDT" target="blank"><img class="icon" src="library/media/icon-bybit.png" alt="Bybit"></a>
            <a class="tradeLinks" href="https://www.mexc.com/exchange/CHRP_USDT" target="blank"><img class="icon" src="library/media/icon-mexc.svg" alt="MEXC Global"></a>
            <a class="tradeLinks" href="https://ape.bond/swap?outputCurrency=0xeD00Fc7D48B57B81FE65D1cE71c0985e4CF442CB" target="blank"><img class="icon" src="library/media/icon-apebond.svg" alt="Apeswap"></a>
            <a class="tradeLinks" href="https://babydogeswap.com/swap?outputCurrency=0xed00fc7d48b57b81fe65d1ce71c0985e4cf442cb" target="blank"><img class="icon" src="library/media/icon-babydoge.svg" alt="Babydoge"></a>
            <a class="tradeLinks" href="https://www.coingecko.com/en/coins/chirpley" target="blank"><img class="icon" src="library/media/icon-coingecko.html" alt="Coingecko"></a>
            <a class="tradeLinks" href="https://v2.info.uniswap.org/pair/0x1240302a1007bbd12a5e98a6920c4065a35af966" target="blank"><img class="icon" src="library/media/icon-uniswap.svg" alt="Uniswap"></a> *@
        </nav>
    </section>
    <section class="footer-bottom">
        <div class="copyright">
            <a href=404.html onclick="displayPreferenceModal()">Cookie Preferences</a>
            <a class="item" href="library/docs/adamakers_privacy-policy.pdf" target="_blank" rel="noopener">Privacy Policy</a>
            <a class="item" href="library/docs/adamakers_terms-of-use.pdf" target="_blank" rel="noopener">Terms of Use</a>
        </div>
        <nav class="footer-socials">
            <a class="item" href="https://twitter.com/ada_makers" target="_blank" rel="noopener"><img class="icon" src="library/media/icon-twitter.svg"></a>
            <a class="item" href="https://discord.gg/ada_makers" target="_blank" rel="noopener"><img class="icon" src="library/media/icon-discord.svg"></a>
            <a class="item" href="https://t.me/ada_makers" target="_blank" rel="noopener"><img class="icon" src="library/media/icon-telegram.svg"></a>
            <a class="item" href="https://www.youtube.com/c/ada_makers" target="_blank" rel="noopener"><img class="icon" src="library/media/icon-youtube.svg"></a>
            <a class="item" href="https://www.tiktok.com/@@ada_makers" target="_blank" rel="noopener"><img class="icon" src="library/media/icon-tiktok.svg"></a>
            <a class="item" href="https://www.reddit.com/user/ada_makers/" target="_blank" rel="noopener"><img class="icon" src="library/media/icon-redit.svg"></a>
            <a class="item" href="https://www.instagram.com/ada_makers/" target="_blank" rel="noopener"><img class="icon" src="library/media/icon-instagram.svg"></a>
            @* <a class="item" href="https://www.facebook.com/chirpley/" target="_blank" rel="noopener"><img class="icon" src="library/media/icon-facebook.svg"></a>
            <a class="item" href="https://chirpley.medium.com/" target="_blank" rel="noopener"><img class="icon" src="library/media/icon-medium.svg"></a>
            <a class="item" href="https://github.com/chirpley" target="_blank" rel="noopener"><img class="icon" src="library/media/icon-github.svg"></a>
            <a class="item" href="mailto:team@chirpley.ai" target="_blank" rel="noopener"><img class="icon" src="library/media/icon-email.svg"></a> *@
        </nav>
@*         <div class="copyright">Website by <a href="https://numbered.studio/" target="_blank" rel="noopener">Numbered.studio</a></div> *@
    </section>
</footer>

