
<!DOCTYPE html>
<html lang="en" class="--sbr: 0.9911458333333333; --sbw: 17px; --diag: 1977.0445113856188px; position: fixed; --w3m-color-fg-1: #f24139; --w3m-color-fg-2: rgb(148,158,158); --w3m-color-fg-3: rgb(110,119,119); --w3m-color-bg-1: #ffdda6; --w3m-color-bg-2: rgb(39,42,42); --w3m-color-bg-3: rgb(59,64,64); --w3m-color-overlay: rgba(255,255,255,0.1); --w3m-accent-color: #f24139; --w3m-accent-fill-color: #ffffff; --w3m-z-index: 999999; --w3m-background-color: #ffdda6; --w3m-background-border-radius: 8px; --w3m-container-border-radius: 30px; --w3m-wallet-icon-border-radius: 15px; --w3m-wallet-icon-large-border-radius: 30px; --w3m-wallet-icon-small-border-radius: 7px; --w3m-input-border-radius: 28px; --w3m-button-border-radius: 10px; --w3m-notification-border-radius: 36px; --w3m-secondary-button-border-radius: 28px; --w3m-icon-button-border-radius: 50%; --w3m-button-hover-highlight-border-radius: 10px; --w3m-text-big-bold-size: 20px; --w3m-text-big-bold-weight: 600; --w3m-text-big-bold-line-height: 24px; --w3m-text-big-bold-letter-spacing: -0.03em; --w3m-text-big-bold-text-transform: none; --w3m-text-xsmall-bold-size: 10px; --w3m-text-xsmall-bold-weight: 700; --w3m-text-xsmall-bold-line-height: 12px; --w3m-text-xsmall-bold-letter-spacing: 0.02em; --w3m-text-xsmall-bold-text-transform: uppercase; --w3m-text-xsmall-regular-size: 12px; --w3m-text-xsmall-regular-weight: 600; --w3m-text-xsmall-regular-line-height: 14px; --w3m-text-xsmall-regular-letter-spacing: -0.03em; --w3m-text-xsmall-regular-text-transform: none; --w3m-text-small-thin-size: 14px; --w3m-text-small-thin-weight: 500; --w3m-text-small-thin-line-height: 16px; --w3m-text-small-thin-letter-spacing: -0.03em; --w3m-text-small-thin-text-transform: none; --w3m-text-small-regular-size: 14px; --w3m-text-small-regular-weight: 600; --w3m-text-small-regular-line-height: 16px; --w3m-text-small-regular-letter-spacing: -0.03em; --w3m-text-small-regular-text-transform: none; --w3m-text-medium-regular-size: 16px; --w3m-text-medium-regular-weight: 600; --w3m-text-medium-regular-line-height: 20px; --w3m-text-medium-regular-letter-spacing: -0.03em; --w3m-text-medium-regular-text-transform: none; --w3m-font-family: Roboto, sans-serif; --w3m-font-feature-settings: 'tnum' on, 'lnum' on, 'case' on; --w3m-success-color: rgb(38,181,98); --w3m-error-color: rgb(242, 90, 103); --w3m-overlay-background-color: rgba(0, 0, 0, 0.3); --w3m-overlay-backdrop-filter: none; --w3m-logo-image-url: https://chirpley.ai/chirpley-icon.svg; --w3m-background-image-url: none;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Ada Makers - Social Engagement Marketplace for Decentralized Marketing.
    </title>
    <meta name="description" content="Changing the way marketing is approached on the Cardano network.">

    <link rel="apple-touch-icon" sizes="180x180" href="library/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="library/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="library/favicon/favicon-16x16.png">
    <link rel="manifest" href="library/favicon/manifest.json" />
    <link rel="mask-icon" href="library/favicon/safari-pinned-tab.svg" color="#EEE756">
    <link rel="shortcut icon" href="adamakers-icon.png">

    <meta name="msapplication-TileColor" content="#EEE756">
    <meta name="msapplication-config" content="library/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:url" content="**https:**//ada-makers.com/">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="Ada Makers - Social Engagement Marketplace for Decentralized Marketing.">
    <meta property="og:site_name" content="Ada Makers">
    <meta property="og:description" content="Changing the way marketing is approached on the Cardano network.">
    <meta property="og:image" content="library/images/og-home.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="fb:app_id" content="3602925603071683">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Ada Makers - Social Engagement Marketplace for Decentralized Marketing.">
    <meta name="twitter:description" content="Changing the way marketing is approached on the Cardano network.">
    <meta name="twitter:image" content="library/images/tw-home.png">
    <script>
        function setW() {
            document.documentElement.style.setProperty('--sbr', document.body.offsetWidth / window.innerWidth);
            document.documentElement.style.setProperty('--sbw', window.innerWidth - document.body.offsetWidth + 'px');
            document.documentElement.style.setProperty('--diag', Math.sqrt(window.innerWidth * window.innerWidth + window.innerHeight * window.innerHeight) + 'px');
        }
        document.readyState !== 'loading' ? setW() : document.addEventListener("DOMContentLoaded", setW);
    </script>
@*     <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MSNPQ8J');
    </script> *@
    <!-- End Google Tag Manager -->
    <link rel="dns-prefetch" href="http://s.w.org/">
    <link rel="stylesheet" id="stylesheet-css" href="library/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="library/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script type="text/javascript" src="library/unpkg.com/jquery%401.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="library/unpkg.com/bootstrap%404.1.0/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    @* <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSNPQ8J"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript> *@
    <!-- End Google Tag Manager (noscript) -->
    <header class="fix header">
        <div class="abs mobile-background"></div>
        <a class="header-logo" name="Home" href="/">
            @* <svg viewbox="0 0 144 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.552 22.1596L10.552 38.2465C10.552 39.2782 10.1811 39.7846 9.42073 39.7846C8.62331 39.7846 8.21533 39.2782 8.21533 38.2465L8.21533 10.8681C8.21533 9.83646 8.60476 9.33003 9.38364 9.33003C10.1625 9.33003 10.552 9.83646 10.552 10.8681L10.552 19.7025L18.452 19.7025L18.452 11.5996C18.452 5.50368 15.4107 2.87773 9.38364 2.87773C3.13406 2.87773 -1.76415e-09 6.23519 -3.66402e-09 12.9501L-1.02375e-08 36.1833C-1.21427e-08 42.917 3.13406 46.2744 9.38364 46.2744C15.4292 46.2932 18.452 43.4046 18.452 37.6088L18.452 22.1596L10.552 22.1596Z" fill="#F24139"></path>
                <path d="M30.9326 22.2093L28.5404 22.2093L28.5404 1.42222L20.5661 1.42222L20.5661 44.0874L28.5404 44.0874L28.5404 28.9992L30.9326 28.9992L30.9326 44.0874L38.9069 44.0874L38.9069 1.42222L30.9326 1.42222L30.9326 22.2093Z" fill="#F24139"></path>
                <path d="M41.3362 42.6651L49.3105 42.6651L49.3105 -1.40426e-08L41.3362 -1.17717e-08L41.3362 42.6651Z" fill="#F24139"></path>
                <path d="M68.5043 23.7726C69.6726 22.3847 70.2475 20.5465 70.2475 18.2769L70.2475 11.2245C70.2475 6.10389 67.4658 3.23411 61.958 3.23411L51.7584 3.23411L51.7584 45.8993L59.7326 45.8993L59.7326 30.2409L61.4017 30.2409L62.5329 45.8993L70.7853 45.8993L68.5043 23.7726ZM59.7326 10.024L60.4003 10.024C61.5315 10.024 62.0878 10.7555 62.0878 12.2186L62.0878 21.5941C62.0693 23.2822 61.5129 24.1263 60.4003 24.1263L59.7326 24.1263L59.7326 10.024Z" fill="#F24139"></path>
                <path d="M82.7838 31.688C85.2873 31.688 87.2901 30.8439 88.7737 29.1371C90.2388 27.449 90.9806 25.2544 90.9806 22.5347L90.9806 14.0567C90.9806 11.2995 90.2758 9.16122 88.8479 7.62318C87.42 6.10389 85.3986 5.33486 82.7838 5.33486L72.4173 5.33486L72.4173 48L80.3915 48L80.3915 31.688L82.7838 31.688ZM80.3915 24.9168L80.3915 12.1248L81.1518 12.1248C82.246 12.1248 82.7838 12.8375 82.7838 14.2443L82.7838 22.7598C82.7838 24.2041 82.246 24.9168 81.1518 24.9168L80.3915 24.9168Z" fill="#F24139"></path>
                <path d="M100.531 4.84431L92.5569 4.84431L92.5569 47.5095L106.41 47.5095L106.41 40.7196L100.531 40.7196L100.531 4.84431Z" fill="#F24139"></path>
                <path d="M115.589 27.2584L122.117 27.2584L122.117 20.8436L115.589 20.8436L115.589 10.024L122.488 10.024L122.488 3.23411L107.615 3.23411L107.615 45.8993L122.599 45.8993L122.599 39.1094L115.589 39.1094L115.589 27.2584Z" fill="#F24139"></path>
                <path d="M133.448 18.0519L133.133 13.9067L131.853 3.23411L123.156 3.23411L129.609 36.9899L129.609 45.8993L137.583 45.8993L137.583 36.9523L144 3.23411L135.488 3.23411L134.283 13.9067L133.93 18.0519L133.448 18.0519Z" fill="#F24139"></path>
            </svg> *@
            <img src="~/library/images/adamaker_logo_site.png" />
        </a>
        <div class="mobile-btn">
            <div class="abs f-center icon open">
                <svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                  <rect class="cls-1" width="18" height="4"/>
                  <rect class="cls-1" y="7" width="18" height="4"/>
                  <rect class="cls-1" y="14" width="18" height="4"/>
                </svg>
            </div>
            <div class="abs f-center icon close">
               
                <svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.56 15.56">
                  <rect class="cls-1" x="5.78" y="-1.22" width="4" height="18" transform="translate(-3.22 7.78) rotate(-45)"/>
                  <rect class="cls-1" x="-1.22" y="5.78" width="18" height="4" transform="translate(-3.22 7.78) rotate(-45)"/>
                </svg>
            </div>
        </div>
        <div class="main-menu">
            <nav class="first">
                <a class="item" data-name="Purpose" href="/purpose">
                    <span class="title">Our Purpose</span>
                </a>
                <a class="item" data-name="How Works" href="/how-works">
                    <span class="title">How Works</span>
                </a>
            </nav>
            <nav class="second">
                <a class="c-btn item" data-name="Launch App" href="#" target="_blank" rel="noopener">
                    <span class="title">Launch App</span>
                </a>
                <a class="c-btn item" data-name="Staking" href="#" target="_blank" rel="noopener">
                    <span class="title">Staking</span>
                </a>
                <div class="connectWallet">
                    <button class="c-btn item" id="btn-connect" data-name="Connect">
                        <img class="icon" src="library/images/qr-code.svg">
                    </button>
                </div>
                <div class="connectedWallet">
                </div>
            </nav>
        </div>
    </header>
    <div id="container" role="main">

         @RenderBody()
                    
    </div>
    <div class="wp-footer">
        <script>
            window.config = {
                dinamicNumberTitle: 98765430
            };
        </script>
        <script type="text/javascript" src="library/js/vendor.js" id="vendor-js"></script>
        <script type="text/javascript" src="library/js/main.js" id="js-js" defer></script>
    </div>
    <div id="accountPanel" class="accountpanel">
        <div class=panelheader>
            <button class="c-btn item closebtn">X</button>
            <button class="c-btn item btn-disconnect" id="btn-disconnect">
                Disconnect
            </button>
            <button class="c-btn item btn-addtoken">
                Add $CHRP
            </button>
        </div>
        <div id="network">
            <h1>Account</h1>
            <span id="network-name"></span>
            <span id="selected-account"></span>
            <ul id="balances">
                <li class="item">
                    <div class="cell cell-1">Address</div>
                    <div class="cell cell-2">Balance</div>
                </li>
            </ul>
        </div>
        <div class="tokenClaim">
            <h1 class="claimHeader">Token Claim</h1>
            <div class="vestingwrapper">
                <ul id="vesting"></ul>
            </div>
        </div>
    </div>
    <div id="templates" style="display: none">
        <template id="template-balance">
            <li class="item">
                <div class="cell cell-1 assetName"></div>
                <div class="cell cell-2 balance"></div>
            </li>
        </template>
        <template id="template-vesting">
            <li class="item">
                <div class="cell vestingValue"></div>
            </li>
        </template>
        <template id="template-vesting">
            <ul class="vestingSchedule">
                <li>
                    <div class="getScheduleId">
                        <b>VestingID:</b>
                    </div>
                </li>
                <li>
                    <div class="cell1 startdate">
                        <b>Startdate:</b>
                    </div>
                    <div class="cell2 cliff">
                        <b>Cliff:</b>
                    </div>
                <li>
                    <div class="cell1 duration">
                        <b>Duration:</b>n
                    </div>
                    <div class="cell2 totalAmount">
                        <b>Total:</b>
                    </div>
                <li>
                    <div class="releasedAmount">
                        <b>Released:</b>
                    </div>
                </li>
                <li>
                    <div class="releasableAmount">
                        <b>Releasable:</b>
                    </div>
                </li>
                <li>
                    <div class="releasediv">
                        <input class="input-release" value="" type="number" name="releaseAmount" min="1" max="">
                        <button class="c-btn item btn-release">Release</button>
                    </div>
                </li>
            </ul>
        </template>
    </div>
    <script type="text/javascript" src="library/unpkg.com/web3%401.7.5/dist/web3.min.js"></script>
    <script type="text/javascript" src="library/js/notify.min.js"></script>
    <script type="text/javascript" src="library/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="library/unpkg.com/bignumber.js%409.0.1/bignumber.min.js"></script>
    <script type="text/javascript" src="library/js/web3functions.js"></script>
@*     <script type="module" src="library/js/accountpanel.js"></script> *@
</body>
</html>