@{
    ViewData["Title"] = "Home Page";

}

<main class="v-main" style="--v-layout-left: 315px; --v-layout-right: 0px; --v-layout-top: 64px; --v-layout-bottom: 0px;">
    <div class="v-container v-locale--is-ltr">
        <div data-v-05a77f4a="">
            <!---->
            <div data-v-05a77f4a="">
                <div data-v-05a77f4a="" class="v-row">
                    <div data-v-05a77f4a="" class="v-col v-col-12">
                        <div data-v-05a77f4a="" class="dashboard-title-banner">
                            <div class="v-row">
                                <div class="v-col-md-3 v-col-lg-3 v-col-12 d-flex">
                                    <h1 class="align-self-center">DASHBOARD</h1>
                                </div>
                                <div class="v-col-md-6 v-col-lg-4 v-col-12 py-0 position-relative d-none d-lg-block">
                                    <div class="v-responsive v-img bird-image">
                                        <div class="v-responsive__sizer" style="padding-bottom: 122.209%;"></div>
                                        <img class="v-img__img v-img__img--contain" src="/img/title-banner-bird.e9071ea2.png" style=""><!----><!----><!----><!----><!---->
                                    </div>
                                </div>
                                <div class="v-col-md-9 v-col-lg-5 v-col-12 d-none d-lg-flex">
                                    <div class="v-row align-items-center">
                                        <div class="v-col-sm-9 v-col-md-7 v-col-lg-7 v-col-12 my-auto">
                                            <h2 class="h2 align-self-center w-100">START A NEW CAMPAIGN</h2>
                                            <p class="w-100">Get your word out loud and create a new campaign!</p>
                                        </div>
                                        <div class="v-col-sm-3 v-col-md-5 v-col-lg-5 v-col-12 my-auto text-right">
                                            <a class="v-btn v-btn--elevated v-theme--light bg-primary v-btn--density-default v-btn--size-default v-btn--variant-elevated align-self-center" href="/campaigns/create">
                                                <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator="">Start campaign</span><!----><!---->
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-05a77f4a="" class="v-row">
                    <div data-v-05a77f4a="" class="v-col v-col-12">
                        <div data-v-05a77f4a="" class="v-card v-theme--light v-card--density-default elevation-0 v-card--variant-elevated card">
                            <!---->
                            <div class="v-card__loader">
                                <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px;">
                                    <!---->
                                    <div class="v-progress-linear__background"></div>
                                    <div class="v-progress-linear__buffer" style="width: 0%;"></div>
                                    <div class="v-progress-linear__indeterminate">
                                        <div class="v-progress-linear__indeterminate long"></div>
                                        <div class="v-progress-linear__indeterminate short"></div>
                                    </div>
                                    <!---->
                                </div>
                            </div>
                            <!----><!---->
                            <div class="d-flex mb-4 justify-space-between">
                                <h2 class="align-self-center text-blue-cool-600">ANALYTICS</h2>
                                <header class="v-toolbar v-toolbar--density-default bg-transparent v-theme--light v-locale--is-ltr w-auto">
                                    <!---->
                                    <div class="v-toolbar__content" style="height: 64px;">
                                        <!----><!---->
                                        <div class="ml-13 d-flex">
                                            <div class="v-row justify-end filters-group">
                                                <div class="v-col v-col-auto d-flex gap-8">
                                                    <span class="v-chip v-chip--link v-theme--light text-bluecool200 v-chip--density-default v-chip--size-default v-chip--variant-outlined filter-chip align-self-center striped" draggable="false" tabindex="0" aria-haspopup="menu" aria-expanded="false" aria-owns="v-menu-472">
                                                        <span class="v-chip__overlay"></span><span class="v-chip__underlay"></span><!----><!---->
                                                        <div class="v-chip__content" data-no-activator="">
                                                            <i class="v-icon notranslate v-theme--light v-icon--size-default mr-1" aria-hidden="true">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                                    <path d="M7.9987 14.6673C11.6806 14.6673 14.6654 11.6825 14.6654 8.00065C14.6654 4.31875 11.6806 1.33398 7.9987 1.33398C4.3168 1.33398 1.33203 4.31875 1.33203 8.00065C1.33203 11.6825 4.3168 14.6673 7.9987 14.6673Z" fill="#8C8B91"></path>
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.9987 4.66602C8.36689 4.66602 8.66536 4.96449 8.66536 5.33268V10.666C8.66536 11.0342 8.36689 11.3327 7.9987 11.3327C7.63051 11.3327 7.33203 11.0342 7.33203 10.666V5.33268C7.33203 4.96449 7.63051 4.66602 7.9987 4.66602Z" fill="white"></path>
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66797 8.00065C4.66797 7.63246 4.96645 7.33398 5.33464 7.33398H10.668C11.0362 7.33398 11.3346 7.63246 11.3346 8.00065C11.3346 8.36884 11.0362 8.66732 10.668 8.66732H5.33464C4.96645 8.66732 4.66797 8.36884 4.66797 8.00065Z" fill="white"></path>
                                                                </svg>
                                                            </i>
                                                            <!----><span class="text-blue-cool-400 text-normal">Platform</span><!----><span class="text-primary text-bold text-normal"></span>
                                                            <i class="v-icon notranslate v-theme--light v-icon--size-default" aria-hidden="true">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.52729 5.52925C3.78764 5.2689 4.20975 5.2689 4.4701 5.52925L7.9987 9.05784L11.5273 5.52925C11.7876 5.2689 12.2098 5.2689 12.4701 5.52925C12.7305 5.7896 12.7305 6.21171 12.4701 6.47206L8.4701 10.4721C8.20975 10.7324 7.78764 10.7324 7.52729 10.4721L3.52729 6.47206C3.26694 6.21171 3.26694 5.7896 3.52729 5.52925Z" fill="#8C8B91"></path>
                                                                </svg>
                                                            </i>
                                                        </div>
                                                        <!----><!---->
                                                    </span>
                                                    <!---->
                                                    <button type="button" class="v-btn v-theme--light text-primary v-btn--density-default v-btn--size-default v-btn--variant-text mobile">
                                                        <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                                        <span class="v-btn__content" data-no-activator="">
                                                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" style="color: rgb(242, 65, 57);">
                                                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#F24139" stroke="none">
                                                                    <path d="M791 4674 c-95 -20 -198 -73 -255 -130 -68 -67 -99 -139 -104 -235
                                                      -7 -139 47 -262 175 -396 37 -40 347 -332 688 -649 l620 -577 5 -1066 c6
                                                      -1191 0 -1099 76 -1158 52 -39 151 -45 211 -11 60 33 963 895 980 935 10 26
                                                      13 159 13 665 l1 633 661 615 c363 338 679 640 702 670 97 125 130 216 124
                                                      339 -8 181 -146 320 -363 366 -102 21 -3435 21 -3534 -1z m3444 -416 c4 -4 -3
                                                      -20 -16 -36 -13 -16 -330 -320 -704 -675 -443 -420 -687 -658 -698 -681 -16
                                                      -34 -17 -90 -17 -655 l0 -618 -102 -100 c-57 -55 -164 -157 -238 -228 l-135
                                                      -127 -5 853 c-4 716 -7 859 -19 882 -8 16 -312 310 -675 655 -697 662 -746
                                                      709 -746 722 0 5 15 11 33 13 56 7 3315 2 3322 -5z"></path>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                        <!----><!---->
                                                    </button>
                                                    <!---->
                                                </div>
                                            </div>
                                            <div class="v-btn-group v-theme--light v-btn-group--density-default v-btn-toggle ml-3 period-filter">
                                                <button type="button" class="v-btn v-btn--flat v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-elevated" value="day" style="height: auto;">
                                                    <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator=""><span class="text-capitalize">day</span></span><!----><!---->
                                                </button>
                                                <button type="button" class="v-btn v-btn--active v-btn--flat v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-elevated" value="week" style="height: auto;">
                                                    <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator=""><span class="text-capitalize">week</span></span><!----><!---->
                                                </button>
                                                <button type="button" class="v-btn v-btn--flat v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-elevated" value="month" style="height: auto;">
                                                    <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator=""><span class="text-capitalize">month</span></span><!----><!---->
                                                </button>
                                                <button type="button" class="v-btn v-btn--flat v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-elevated" value="year" style="height: auto;">
                                                    <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator=""><span class="text-capitalize">year</span></span><!----><!---->
                                                </button>
                                                <!---->
                                            </div>
                                            <!---->
                                            <div class="period-list">
                                                <button type="button" class="v-btn v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-text" id="menu-activator" aria-haspopup="menu" aria-expanded="false" aria-owns="v-menu-480">
                                                    <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator=""><span class="text-capitalize fw-600 fs-14"><span class="blue-cool-b-400-c">Week +</span><span class="text-primary">3</span></span></span><!----><!---->
                                                </button>
                                                <!----><!---->
                                            </div>
                                        </div>
                                        <button type="button" class="v-btn v-btn--icon v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-text d-flex px-0">
                                            <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                            <span class="v-btn__content" data-no-activator="">
                                                <i class="v-icon notranslate v-theme--light v-icon--size-default px-0 align-self-center" aria-hidden="true">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                                        <path d="M18 15.5L12 9.5L6 15.5" stroke="#8C8B91" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    </svg>
                                                </i>
                                            </span>
                                            <!----><!---->
                                        </button>
                                        <!---->
                                    </div>
                                    <!---->
                                </header>
                            </div>
                            <div class="v-expansion-panels v-theme--light v-expansion-panels--variant-accordion">
                                <div class="v-expansion-panel v-expansion-panel--active bg-transparent">
                                    <div class="v-expansion-panel__shadow elevation-0"></div>
                                    <!----><!---->
                                    <div class="v-expansion-panel-text px-0">
                                        <div class="v-expansion-panel-text__wrapper">
                                            <div class="v-row">
                                                <div class="v-col-md-4 v-col-12">
                                                    <div class="d-flex mb-4">
                                                        <p class="text-subtitle">Likes</p>
                                                        <p class="ml-auto align-self-center text-normal"><strong class="text-blue-cool-600">0</strong> Likes </p>
                                                    </div>
                                                    <div class="v-card v-theme--light v-card--density-default v-card--variant-elevated chart-card">
                                                        <!---->
                                                        <div class="v-card__loader">
                                                            <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px;">
                                                                <!---->
                                                                <div class="v-progress-linear__background"></div>
                                                                <div class="v-progress-linear__buffer" style="width: 0%;"></div>
                                                                <div class="v-progress-linear__indeterminate">
                                                                    <div class="v-progress-linear__indeterminate long"></div>
                                                                    <div class="v-progress-linear__indeterminate short"></div>
                                                                </div>
                                                                <!---->
                                                            </div>
                                                        </div>
                                                        <!----><!----><!---->
                                                        <canvas id="lQiXhA7QKN" class="chart-active" style="box-sizing: border-box; display: block; height: 220px; width: 440px;" width="440" height="220"></canvas>
                                                        <!----><!----><!----><span class="v-card__underlay"></span>
                                                    </div>
                                                </div>
                                                <div class="v-col-md-4 v-col-12">
                                                    <div class="d-flex mb-4">
                                                        <p class="text-subtitle">Shares</p>
                                                        <p class="ml-auto align-self-center text-normal"><strong class="text-blue-cool-600">0</strong> Shares </p>
                                                    </div>
                                                    <div class="v-card v-theme--light v-card--density-default v-card--variant-elevated chart-card">
                                                        <!---->
                                                        <div class="v-card__loader">
                                                            <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px;">
                                                                <!---->
                                                                <div class="v-progress-linear__background"></div>
                                                                <div class="v-progress-linear__buffer" style="width: 0%;"></div>
                                                                <div class="v-progress-linear__indeterminate">
                                                                    <div class="v-progress-linear__indeterminate long"></div>
                                                                    <div class="v-progress-linear__indeterminate short"></div>
                                                                </div>
                                                                <!---->
                                                            </div>
                                                        </div>
                                                        <!----><!----><!---->
                                                        <canvas id="b3SJxMrIVn" class="chart-active" style="box-sizing: border-box; display: block; height: 220px; width: 440px;" width="440" height="220"></canvas>
                                                        <!----><!----><!----><span class="v-card__underlay"></span>
                                                    </div>
                                                </div>
                                                <div class="v-col-md-4 v-col-12">
                                                    <div class="d-flex mb-4">
                                                        <p class="text-subtitle">Comments</p>
                                                        <p class="ml-auto align-self-center text-normal"><strong class="text-blue-cool-600">0</strong> Comments </p>
                                                    </div>
                                                    <div class="v-card v-theme--light v-card--density-default v-card--variant-elevated chart-card">
                                                        <!---->
                                                        <div class="v-card__loader">
                                                            <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px;">
                                                                <!---->
                                                                <div class="v-progress-linear__background"></div>
                                                                <div class="v-progress-linear__buffer" style="width: 0%;"></div>
                                                                <div class="v-progress-linear__indeterminate">
                                                                    <div class="v-progress-linear__indeterminate long"></div>
                                                                    <div class="v-progress-linear__indeterminate short"></div>
                                                                </div>
                                                                <!---->
                                                            </div>
                                                        </div>
                                                        <!----><!----><!---->
                                                        <canvas id="OHBfY3mxQF" class="chart-active" style="box-sizing: border-box; display: block; height: 220px; width: 440px;" width="440" height="220"></canvas>
                                                        <!----><!----><!----><span class="v-card__underlay"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!----><!----><span class="v-card__underlay"></span>
                        </div>
                    </div>
                </div>
                <div data-v-05a77f4a="" class="v-row">
                    <div data-v-05a77f4a="" class="v-col-md-7 v-col-12">
                        <div data-v-05a77f4a="" class="card">
                            <div data-v-05a77f4a="" class="d-flex justify-space-between mb-6 ga-2">
                                <div data-v-05a77f4a="" class="d-flex ga-3 align-self-center">
                                    <h2 data-v-05a77f4a="" class="align-self-center text-blue-cool-600">RECENT ACTIVE CAMPAIGNS</h2>
                                    <div data-v-05a77f4a="" class="align-self-center count-label bg-blue-cool-b-400-c"><span data-v-05a77f4a="">0</span></div>
                                </div>
                                <header data-v-05a77f4a="" class="v-toolbar v-toolbar--density-default bg-transparent v-theme--light v-locale--is-ltr w-auto align-self-center filter-chip-toolbar">
                                    <!---->
                                    <div class="v-toolbar__content" style="height: 64px;">
                                        <!----><!---->
                                        <div data-v-05a77f4a="" class="v-row justify-end filters-group">
                                            <div class="v-col v-col-auto d-flex gap-8">
                                                <span class="v-chip v-chip--link v-theme--light text-bluecool200 v-chip--density-default v-chip--size-default v-chip--variant-outlined filter-chip align-self-center striped" draggable="false" tabindex="0" aria-haspopup="menu" aria-expanded="false" aria-owns="v-menu-483">
                                                    <span class="v-chip__overlay"></span><span class="v-chip__underlay"></span><!----><!---->
                                                    <div class="v-chip__content" data-no-activator="">
                                                        <i class="v-icon notranslate v-theme--light v-icon--size-default mr-1" aria-hidden="true">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                                <path d="M7.9987 14.6673C11.6806 14.6673 14.6654 11.6825 14.6654 8.00065C14.6654 4.31875 11.6806 1.33398 7.9987 1.33398C4.3168 1.33398 1.33203 4.31875 1.33203 8.00065C1.33203 11.6825 4.3168 14.6673 7.9987 14.6673Z" fill="#8C8B91"></path>
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.9987 4.66602C8.36689 4.66602 8.66536 4.96449 8.66536 5.33268V10.666C8.66536 11.0342 8.36689 11.3327 7.9987 11.3327C7.63051 11.3327 7.33203 11.0342 7.33203 10.666V5.33268C7.33203 4.96449 7.63051 4.66602 7.9987 4.66602Z" fill="white"></path>
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66797 8.00065C4.66797 7.63246 4.96645 7.33398 5.33464 7.33398H10.668C11.0362 7.33398 11.3346 7.63246 11.3346 8.00065C11.3346 8.36884 11.0362 8.66732 10.668 8.66732H5.33464C4.96645 8.66732 4.66797 8.36884 4.66797 8.00065Z" fill="white"></path>
                                                            </svg>
                                                        </i>
                                                        <!----><span class="text-blue-cool-400 text-normal">Platform</span><!----><span class="text-primary text-bold text-normal"></span>
                                                        <i class="v-icon notranslate v-theme--light v-icon--size-default" aria-hidden="true">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.52729 5.52925C3.78764 5.2689 4.20975 5.2689 4.4701 5.52925L7.9987 9.05784L11.5273 5.52925C11.7876 5.2689 12.2098 5.2689 12.4701 5.52925C12.7305 5.7896 12.7305 6.21171 12.4701 6.47206L8.4701 10.4721C8.20975 10.7324 7.78764 10.7324 7.52729 10.4721L3.52729 6.47206C3.26694 6.21171 3.26694 5.7896 3.52729 5.52925Z" fill="#8C8B91"></path>
                                                            </svg>
                                                        </i>
                                                    </div>
                                                    <!----><!---->
                                                </span>
                                                <!---->
                                                <span class="v-chip v-chip--link v-theme--light text-bluecool200 v-chip--density-default v-chip--size-default v-chip--variant-outlined filter-chip align-self-center striped" draggable="false" tabindex="0" aria-haspopup="menu" aria-expanded="false" aria-owns="v-menu-485">
                                                    <span class="v-chip__overlay"></span><span class="v-chip__underlay"></span><!----><!---->
                                                    <div class="v-chip__content" data-no-activator="">
                                                        <i class="v-icon notranslate v-theme--light v-icon--size-default mr-1" aria-hidden="true">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                                <path d="M7.9987 14.6673C11.6806 14.6673 14.6654 11.6825 14.6654 8.00065C14.6654 4.31875 11.6806 1.33398 7.9987 1.33398C4.3168 1.33398 1.33203 4.31875 1.33203 8.00065C1.33203 11.6825 4.3168 14.6673 7.9987 14.6673Z" fill="#8C8B91"></path>
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.9987 4.66602C8.36689 4.66602 8.66536 4.96449 8.66536 5.33268V10.666C8.66536 11.0342 8.36689 11.3327 7.9987 11.3327C7.63051 11.3327 7.33203 11.0342 7.33203 10.666V5.33268C7.33203 4.96449 7.63051 4.66602 7.9987 4.66602Z" fill="white"></path>
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66797 8.00065C4.66797 7.63246 4.96645 7.33398 5.33464 7.33398H10.668C11.0362 7.33398 11.3346 7.63246 11.3346 8.00065C11.3346 8.36884 11.0362 8.66732 10.668 8.66732H5.33464C4.96645 8.66732 4.66797 8.36884 4.66797 8.00065Z" fill="white"></path>
                                                            </svg>
                                                        </i>
                                                        <!----><span class="text-blue-cool-400 text-normal">Status</span><!----><span class="text-primary text-bold text-normal"></span>
                                                        <i class="v-icon notranslate v-theme--light v-icon--size-default" aria-hidden="true">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.52729 5.52925C3.78764 5.2689 4.20975 5.2689 4.4701 5.52925L7.9987 9.05784L11.5273 5.52925C11.7876 5.2689 12.2098 5.2689 12.4701 5.52925C12.7305 5.7896 12.7305 6.21171 12.4701 6.47206L8.4701 10.4721C8.20975 10.7324 7.78764 10.7324 7.52729 10.4721L3.52729 6.47206C3.26694 6.21171 3.26694 5.7896 3.52729 5.52925Z" fill="#8C8B91"></path>
                                                            </svg>
                                                        </i>
                                                    </div>
                                                    <!----><!---->
                                                </span>
                                                <!---->
                                                <button type="button" class="v-btn v-theme--light text-primary v-btn--density-default v-btn--size-default v-btn--variant-text mobile">
                                                    <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                                    <span class="v-btn__content" data-no-activator="">
                                                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" style="color: rgb(242, 65, 57);">
                                                            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#F24139" stroke="none">
                                                                <path d="M791 4674 c-95 -20 -198 -73 -255 -130 -68 -67 -99 -139 -104 -235
                                                   -7 -139 47 -262 175 -396 37 -40 347 -332 688 -649 l620 -577 5 -1066 c6
                                                   -1191 0 -1099 76 -1158 52 -39 151 -45 211 -11 60 33 963 895 980 935 10 26
                                                   13 159 13 665 l1 633 661 615 c363 338 679 640 702 670 97 125 130 216 124
                                                   339 -8 181 -146 320 -363 366 -102 21 -3435 21 -3534 -1z m3444 -416 c4 -4 -3
                                                   -20 -16 -36 -13 -16 -330 -320 -704 -675 -443 -420 -687 -658 -698 -681 -16
                                                   -34 -17 -90 -17 -655 l0 -618 -102 -100 c-57 -55 -164 -157 -238 -228 l-135
                                                   -127 -5 853 c-4 716 -7 859 -19 882 -8 16 -312 310 -675 655 -697 662 -746
                                                   709 -746 722 0 5 15 11 33 13 56 7 3315 2 3322 -5z"></path>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                    <!----><!---->
                                                </button>
                                                <!---->
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                    <!---->
                                </header>
                            </div>
                            <!---->
                            <div data-v-05a77f4a="" class="v-table v-table--has-top v-table--has-bottom v-theme--light v-table--density-default v-data-table bg-transparent">
                                <!---->
                                <div class="v-table__wrapper">
                                    <table>
                                        <!---->
                                        <thead class="v-data-table__thead" role="rowgroup">
                                            <!---->
                                        </thead>
                                        <!---->
                                        <tbody class="v-data-table__tbody" role="rowgroup">
                                            <!---->
                                            <tr class="v-data-table-rows-no-data">
                                                <td colspan="0">No data available</td>
                                            </tr>
                                            <!---->
                                        </tbody>
                                        <!----><!---->
                                    </table>
                                </div>
                                <hr class="v-divider v-theme--light" aria-orientation="horizontal" role="separator">
                                <div class="v-data-table-footer">
                                    <!---->
                                    <div class="v-data-table-footer__items-per-page">
                                        <span>Items per page:</span>
                                        <div class="v-input v-input--horizontal v-input--center-affix v-input--density-compact v-theme--light v-locale--is-ltr v-input--dirty v-text-field v-select v-select--single v-select--selected">
                                            <!---->
                                            <div class="v-input__control">
                                                <div class="v-field v-field--active v-field--appended v-field--center-affix v-field--dirty v-field--no-label v-field--variant-outlined v-theme--light v-locale--is-ltr" role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-owns="v-menu-490">
                                                    <div class="v-field__overlay"></div>
                                                    <div class="v-field__loader">
                                                        <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px;">
                                                            <!---->
                                                            <div class="v-progress-linear__background"></div>
                                                            <div class="v-progress-linear__buffer" style="width: 0%;"></div>
                                                            <div class="v-progress-linear__indeterminate">
                                                                <div class="v-progress-linear__indeterminate long"></div>
                                                                <div class="v-progress-linear__indeterminate short"></div>
                                                            </div>
                                                            <!---->
                                                        </div>
                                                    </div>
                                                    <!---->
                                                    <div class="v-field__field" data-no-activator="">
                                                        <!---->
                                                        <label class="v-label v-field-label" for="input-488">
                                                            <!----><!---->
                                                        </label>
                                                        <!---->
                                                        <div class="v-field__input" data-no-activator="">
                                                            <!----><!---->
                                                            <div class="v-select__selection">
                                                                <span class="v-select__selection-text">
                                                                    5<!---->
                                                                </span>
                                                            </div>
                                                            <input size="1" type="text" id="input-488" aria-describedby="input-488-messages" inputmode="none" aria-label="Open" title="Open">
                                                        </div>
                                                        <!---->
                                                    </div>
                                                    <!---->
                                                    <div class="v-field__append-inner">
                                                        <!---->
                                                        <i class="v-icon notranslate v-theme--light v-icon--size-default v-select__menu-icon" aria-hidden="true">
                                                            <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                                <path d="M7,10L12,15L17,10H7Z"></path>
                                                            </svg>
                                                        </i>
                                                        <!---->
                                                    </div>
                                                    <div class="v-field__outline">
                                                        <div class="v-field__outline__start"></div>
                                                        <!---->
                                                        <div class="v-field__outline__end"></div>
                                                        <!---->
                                                    </div>
                                                </div>
                                            </div>
                                            <!----><!---->
                                        </div>
                                    </div>
                                    <div class="v-data-table-footer__info">
                                        <div>0-0 of 0</div>
                                    </div>
                                    <div class="v-data-table-footer__pagination">
                                        <nav class="v-pagination v-theme--light" role="navigation" aria-label="Pagination Navigation" data-test="v-pagination-root">
                                            <ul class="v-pagination__list">
                                                <li class="v-pagination__first" data-test="v-pagination-first">
                                                    <button type="button" class="v-btn v-btn--disabled v-btn--icon v-theme--light v-btn--density-comfortable v-btn--rounded v-btn--size-default v-btn--variant-plain" disabled="" aria-label="First page" aria-disabled="true">
                                                        <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                                        <span class="v-btn__content" data-no-activator="">
                                                            <i class="v-icon notranslate v-theme--light v-icon--size-default" aria-hidden="true">
                                                                <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                                    <path d="M18.41,16.59L13.82,12L18.41,7.41L17,6L11,12L17,18L18.41,16.59M6,6H8V18H6V6Z"></path>
                                                                </svg>
                                                            </i>
                                                        </span>
                                                        <!----><!---->
                                                    </button>
                                                </li>
                                                <li class="v-pagination__prev" data-test="v-pagination-prev">
                                                    <button type="button" class="v-btn v-btn--disabled v-btn--icon v-theme--light v-btn--density-comfortable v-btn--rounded v-btn--size-default v-btn--variant-plain" disabled="" aria-label="Previous page" aria-disabled="true">
                                                        <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                                        <span class="v-btn__content" data-no-activator="">
                                                            <i class="v-icon notranslate v-theme--light v-icon--size-default" aria-hidden="true">
                                                                <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                                    <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"></path>
                                                                </svg>
                                                            </i>
                                                        </span>
                                                        <!----><!---->
                                                    </button>
                                                </li>
                                                <li class="v-pagination__next" data-test="v-pagination-next">
                                                    <button type="button" class="v-btn v-btn--disabled v-btn--icon v-theme--light v-btn--density-comfortable v-btn--rounded v-btn--size-default v-btn--variant-plain" disabled="" aria-label="Next page" aria-disabled="true">
                                                        <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                                        <span class="v-btn__content" data-no-activator="">
                                                            <i class="v-icon notranslate v-theme--light v-icon--size-default" aria-hidden="true">
                                                                <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                                    <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
                                                                </svg>
                                                            </i>
                                                        </span>
                                                        <!----><!---->
                                                    </button>
                                                </li>
                                                <li class="v-pagination__last" data-test="v-pagination-last">
                                                    <button type="button" class="v-btn v-btn--disabled v-btn--icon v-theme--light v-btn--density-comfortable v-btn--rounded v-btn--size-default v-btn--variant-plain" disabled="" aria-label="Last page" aria-disabled="true">
                                                        <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                                        <span class="v-btn__content" data-no-activator="">
                                                            <i class="v-icon notranslate v-theme--light v-icon--size-default" aria-hidden="true">
                                                                <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                                    <path d="M5.59,7.41L10.18,12L5.59,16.59L7,18L13,12L7,6L5.59,7.41M16,6H18V18H16V6Z"></path>
                                                                </svg>
                                                            </i>
                                                        </span>
                                                        <!----><!---->
                                                    </button>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div data-v-05a77f4a="" class="d-flex flex-column align-center">
                                <p data-v-05a77f4a="" class="fs-16 text-blue-cool-400"> Create your first campaign to spark influencer collaborations and elevate your brand's presence. </p>
                                <a data-v-05a77f4a="" class="v-btn v-btn--elevated v-theme--light bg-primary v-btn--density-default v-btn--size-default v-btn--variant-elevated align-self-center mt-4" href="/campaigns/create">
                                    <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator="">Start campaign</span><!----><!---->
                                </a>
                            </div>
                        </div>
                    </div>
                    <div data-v-05a77f4a="" class="v-col-md-5 v-col-12">
                        <div data-v-05a77f4a="" class="card">
                            <div data-v-05a77f4a="" class="w-100 mb-6">
                                <h2 data-v-05a77f4a="" class="align-self-center text-blue-cool-600">YOUR FAVORITE INFLUENCERS</h2>
                            </div>
                            <!---->
                            <p data-v-05a77f4a="" class="text-normal text-blue-cool-400">You have no influencers marked as your favorite.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>







         