@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout_out.cshtml";
}





   <body>
      <noscript><strong>We're sorry but chirpley doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
      <div id="app" data-v-app="">
         <div class="v-application v-theme--light v-layout v-layout--full-height v-locale--is-ltr">
            <div class="v-application__wrap">
               <main class="v-main" style="--v-layout-left: 0px; --v-layout-right: 0px; --v-layout-top: 0px; --v-layout-bottom: 0px;">
                  <div class="v-row full-height ma-0">
                     <div class="v-col-md-5 v-col-12 full-height auth-banner fireaxered d-none d-md-flex">
                        <div class="auth-banner-text d-flex">
                           <svg class="align-self-center" xmlns="http://www.w3.org/2000/svg" width="790" height="675" viewBox="0 0 790 675" fill="none">
                              <path d="M-194.76 311.619V537.842C-194.76 552.349 -199.97 559.471 -210.652 559.471C-221.854 559.471 -227.586 552.349 -227.586 537.842V152.832C-227.586 138.325 -222.115 131.204 -211.173 131.204C-200.231 131.204 -194.76 138.325 -194.76 152.832V277.066H-83.7746V163.119C-83.7746 77.3954 -126.501 40.4681 -211.173 40.4681C-298.971 40.4681 -343 87.6823 -343 182.11L-343 508.828C-343 603.519 -298.971 650.733 -211.173 650.733C-126.241 650.997 -83.7746 610.377 -83.7746 528.874V311.619H-194.76Z" fill="#EDEBEF"></path>
                              <path d="M91.5607 437.777H57.9526V19.6562H-54.0744V619.635H57.9526V533.26H91.5607V619.635H203.588V19.6562H91.5607V437.777Z" fill="#EDEBEF"></path>
                              <path d="M237.717 599.978H349.744V3.65132e-08L237.717 0V599.978Z" fill="#EDEBEF"></path>
                              <path d="M619.391 334.303C635.804 314.784 643.88 288.935 643.88 257.02V157.844C643.88 85.8359 604.801 45.4796 527.424 45.4796H384.134V645.458H496.161V425.263H519.608L535.5 645.458H651.435L619.391 334.303ZM496.161 140.963H505.54C521.432 140.963 529.248 151.25 529.248 171.823V303.667C528.987 327.406 521.172 339.276 505.54 339.276H496.161V140.963Z" fill="#EDEBEF"></path>
                              <path d="M819.997 445.612C855.168 445.612 883.305 433.742 904.148 409.74C924.729 386.001 935.15 355.14 935.15 316.894V197.673C935.15 158.899 925.25 128.83 905.19 107.201C885.129 85.8359 856.731 75.0215 819.997 75.0215H674.362V675H786.389V445.612H819.997ZM786.389 350.393V170.505H797.071C812.442 170.505 819.997 180.528 819.997 200.31V320.06C819.997 340.369 812.442 350.393 797.071 350.393H786.389Z" fill="#EDEBEF"></path>
                              <path d="M1069.32 68.1231H957.295V668.102H1151.91V572.619H1069.32V68.1231Z" fill="#EDEBEF"></path>
                              <path d="M1280.87 383.321H1372.58V293.113H1280.87V140.963H1377.79V45.4796H1168.84V645.458H1379.35V549.975H1280.87V383.321Z" fill="#EDEBEF"></path>
                              <path d="M1531.76 253.854L1527.33 195.562L1509.35 45.4796H1387.17L1477.83 520.17V645.458H1589.86V519.642L1680 45.4796H1560.42L1543.48 195.562L1538.53 253.854H1531.76Z" fill="#EDEBEF"></path>
                           </svg>
                        </div>
                        <div class="v-responsive v-img auth-banner-image align-self-center" aria-label="Background Image" role="img">
                           <div class="v-responsive__sizer" style="padding-bottom: 104.095%;"></div>
                           <img class="v-img__img v-img__img--contain" src="/img/bird-right.1762384c.png" alt="Background Image" style=""><!----><!----><!----><!----><!---->
                        </div>
                     </div>
                     <div class="v-col-md-1 v-col-12 full-md-height d-none d-md-flex"></div>
                     <div class="v-col-md-6 v-col-12 full-md-height d-flex">
                        <div class="login-card">
                           <div class="mb-10">
                              <h1 class="my-auto mb-2 text-uppercase text-blue-cool-600">Welcome Back</h1>
                              <h6 class="text-normal">You can login to access Chirpley.</h6>
                           </div>
                           <div class="v-card v-theme--light v-card--density-default elevation-0 v-card--variant-elevated mb-10 mb-md-0 login-card-inner">
                              <!---->
                              <div class="v-card__loader">
                                 <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px;">
                                    <!---->
                                    <div class="v-progress-linear__background"></div>
                                    <div class="v-progress-linear__buffer" style="width: 0%;"></div>
                                    <div class="v-progress-linear__indeterminate">
                                       <div class="v-progress-linear__indeterminate long"></div>
                                       <div class="v-progress-linear__indeterminate short"></div>
                                    </div>
                                    <!---->
                                 </div>
                              </div>
                              <!----><!---->
                              <div class="v-row">
                                 <div class="v-col-md-9 v-col-12">
                                    <button type="button" class="v-btn v-btn--block v-btn--elevated v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-elevated mb-2 card-btn" aria-haspopup="dialog" aria-expanded="false">
                                       <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator="">Sign in with <strong class="mx-1">Social</strong> account</span><!----><!---->
                                    </button>
                                    <!---->
                                    <p class="mb-2 text-small text-blue-cool-600">Google, Facebook, Twitter/X, Tiktok or Instagram</p>
                                    <button type="button" class="v-btn v-btn--block v-btn--elevated v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-elevated mb-2 card-btn">
                                       <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator="">Sign in with <strong class="mx-1">Web3</strong> wallet</span><!----><!---->
                                    </button>
                                    <p class="mb-6 text-small text-blue-cool-600">Metamask, Trust Wallet, Coinbase Wallet, Exodus etc</p>
                                    <div class="d-flex">
                                       <p class="mb-6 mx-auto">OR</p>
                                    </div>
                                    <form class="v-form" novalidate="">
                                       <div class="v-input v-input--horizontal v-input--center-affix v-input--density-comfortable v-theme--light v-locale--is-ltr v-text-field input">
                                          <!---->
                                          <div class="v-input__control">
                                             <div class="v-field v-field--center-affix v-field--single-line v-field--variant-filled v-theme--light v-locale--is-ltr">
                                                <div class="v-field__overlay"></div>
                                                <div class="v-field__loader">
                                                   <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px;">
                                                      <!---->
                                                      <div class="v-progress-linear__background"></div>
                                                      <div class="v-progress-linear__buffer" style="width: 0%;"></div>
                                                      <div class="v-progress-linear__indeterminate">
                                                         <div class="v-progress-linear__indeterminate long"></div>
                                                         <div class="v-progress-linear__indeterminate short"></div>
                                                      </div>
                                                      <!---->
                                                   </div>
                                                </div>
                                                <!---->
                                                <div class="v-field__field" data-no-activator="">
                                                   <!---->
                                                   <label class="v-label v-field-label" for="input-2">
                                                      <!---->Email address
                                                   </label>
                                                   <!----><input name="email" size="1" type="text" id="input-2" aria-describedby="input-2-messages" class="v-field__input"><!---->
                                                   <div data-lastpass-icon-root="" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
                                                </div>
                                                <!----><!---->
                                                <div class="v-field__outline">
                                                   <!----><!---->
                                                </div>
                                             </div>
                                          </div>
                                          <!----><!---->
                                       </div>
                                       <div class="v-input v-input--horizontal v-input--center-affix v-input--density-comfortable v-theme--light v-locale--is-ltr v-text-field input mt-3 mb-6">
                                          <!---->
                                          <div class="v-input__control">
                                             <div class="v-field v-field--appended v-field--center-affix v-field--single-line v-field--variant-filled v-theme--light v-locale--is-ltr">
                                                <div class="v-field__overlay"></div>
                                                <div class="v-field__loader">
                                                   <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px;">
                                                      <!---->
                                                      <div class="v-progress-linear__background"></div>
                                                      <div class="v-progress-linear__buffer" style="width: 0%;"></div>
                                                      <div class="v-progress-linear__indeterminate">
                                                         <div class="v-progress-linear__indeterminate long"></div>
                                                         <div class="v-progress-linear__indeterminate short"></div>
                                                      </div>
                                                      <!---->
                                                   </div>
                                                </div>
                                                <!---->
                                                <div class="v-field__field" data-no-activator="">
                                                   <!---->
                                                   <label class="v-label v-field-label" for="input-4">
                                                      <!---->Password
                                                   </label>
                                                   <!----><input name="password" size="1" type="password" id="input-4" aria-describedby="input-4-messages" class="v-field__input"><!---->
                                                </div>
                                                <!---->
                                                <div class="v-field__append-inner">
                                                   <i class="v-icon notranslate v-theme--light v-icon--size-default" aria-hidden="true">
                                                      <button type="button" class="v-btn v-btn--elevated v-btn--icon v-theme--light bg-transparent v-btn--density-default v-btn--size-default v-btn--variant-elevated btn">
                                                         <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                                         <span class="v-btn__content" data-no-activator="">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                               <path fill-rule="evenodd" clip-rule="evenodd" d="M1.42716 8C1.50002 8.12591 1.59662 8.28637 1.71628 8.47165C2.02362 8.94754 2.47878 9.5804 3.06969 10.2107C4.26368 11.4843 5.933 12.6667 8 12.6667C10.067 12.6667 11.7363 11.4843 12.9303 10.2107C13.5212 9.5804 13.9764 8.94754 14.2837 8.47165C14.4034 8.28637 14.5 8.12591 14.5728 8C14.5 7.87409 14.4034 7.71363 14.2837 7.52835C13.9764 7.05246 13.5212 6.4196 12.9303 5.78929C11.7363 4.51571 10.067 3.33333 8 3.33333C5.933 3.33333 4.26368 4.51571 3.06969 5.78929C2.47878 6.4196 2.02362 7.05246 1.71628 7.52835C1.59662 7.71363 1.50002 7.87409 1.42716 8ZM15.3333 8C15.9296 7.70186 15.9295 7.70163 15.9294 7.70139L15.9283 7.69925L15.926 7.69469L15.9184 7.67988C15.9121 7.66752 15.9031 7.65021 15.8915 7.62829C15.8683 7.58447 15.8347 7.52215 15.7907 7.44399C15.7028 7.28776 15.5734 7.06768 15.4038 6.80498C15.0653 6.28088 14.5621 5.5804 13.903 4.87737C12.597 3.48429 10.5997 2 8 2C5.40033 2 3.40299 3.48429 2.09698 4.87737C1.43789 5.5804 0.93471 6.28088 0.596224 6.80498C0.426567 7.06768 0.297195 7.28776 0.209314 7.44399C0.165349 7.52215 0.131693 7.58447 0.108502 7.62829C0.0969045 7.65021 0.0879168 7.66752 0.0815586 7.67988L0.0739933 7.69469L0.0716926 7.69925L0.0709134 7.7008C0.0707909 7.70104 0.0703819 7.70186 0.666667 8L0.0703819 7.70186C-0.0234606 7.88954 -0.0234606 8.11046 0.0703819 8.29814L0.666667 8C0.0703819 8.29814 0.0702594 8.2979 0.0703819 8.29814L0.0716926 8.30075L0.0739933 8.30531L0.0815586 8.32012C0.0879168 8.33248 0.0969045 8.34979 0.108502 8.37171C0.131693 8.41553 0.165349 8.47785 0.209314 8.55601C0.297195 8.71224 0.426567 8.93232 0.596224 9.19502C0.93471 9.71913 1.43789 10.4196 2.09698 11.1226C3.40299 12.5157 5.40033 14 8 14C10.5997 14 12.597 12.5157 13.903 11.1226C14.5621 10.4196 15.0653 9.71913 15.4038 9.19502C15.5734 8.93232 15.7028 8.71224 15.7907 8.55601C15.8347 8.47785 15.8683 8.41553 15.8915 8.37171C15.9031 8.34979 15.9121 8.33248 15.9184 8.32012L15.926 8.30531L15.9283 8.30075L15.9291 8.2992C15.9292 8.29896 15.9296 8.29814 15.3333 8ZM15.3333 8L15.9296 8.29814C16.0235 8.11046 16.0232 7.88907 15.9294 7.70139L15.3333 8Z" fill="#8C8B91"></path>
                                                               <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00016 6.66683C7.26378 6.66683 6.66683 7.26378 6.66683 8.00016C6.66683 8.73654 7.26378 9.3335 8.00016 9.3335C8.73654 9.3335 9.3335 8.73654 9.3335 8.00016C9.3335 7.26378 8.73654 6.66683 8.00016 6.66683ZM5.3335 8.00016C5.3335 6.5274 6.5274 5.3335 8.00016 5.3335C9.47292 5.3335 10.6668 6.5274 10.6668 8.00016C10.6668 9.47292 9.47292 10.6668 8.00016 10.6668C6.5274 10.6668 5.3335 9.47292 5.3335 8.00016Z" fill="#8C8B91"></path>
                                                            </svg>
                                                         </span>
                                                         <!----><!---->
                                                      </button>
                                                   </i>
                                                   <!---->
                                                </div>
                                                <div class="v-field__outline">
                                                   <!----><!---->
                                                </div>
                                             </div>
                                          </div>
                                          <!----><!---->
                                       </div>
                                    </form>
                                    <button type="button" class="v-btn v-btn--block v-btn--elevated v-theme--light bg-primary v-btn--density-default elevation-0 rounded-xl v-btn--size-default v-btn--variant-elevated mb-4 text-white btn-primary">
                                       <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator="">Login</span><!----><!---->
                                    </button>
                                    <a class="v-btn v-theme--light text-transparent v-btn--density-default v-btn--size-default v-btn--variant-text px-0 py-0 text-primary text-bold icon-dense" href="/password-forgot">
                                       <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator="">Forgot password</span><!----><!---->
                                    </a>
                                    <hr class="v-divider v-theme--light my-6 w-50 d-block mx-auto" aria-orientation="horizontal" role="separator">
                                    <div class="d-flex ga-1">
                                       <p class="text-normal">No account yet?</p>
                                       <a class="v-btn v-theme--light text-transparent v-btn--density-default v-btn--size-default v-btn--variant-text px-0 py-0 text-primary text-bold align-self-center icon-dense" href="/signup">
                                          <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator="">Sign Up</span><!----><!---->
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <!----><!----><span class="v-card__underlay"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </main>
            </div>
         </div>
      </div>
      <iframe scrolling="no" frameborder="0" allowtransparency="true" src="https://platform.twitter.com/widgets/widget_iframe.2f70fb173b9000da126c79afe2098f02.html?origin=https%3A%2F%2Fv3.chirpley.ai" title="Twitter settings iframe" style="display: none;"></iframe>
      <svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;">
         <defs id="SvgjsDefs1002"></defs>
         <polyline id="SvgjsPolyline1003" points="0,0"></polyline>
         <path id="SvgjsPath1004" d="M0 0 "></path>
      </svg>
      <w3m-modal></w3m-modal>
      <div data-lastpass-root="" style="position: absolute !important; top: 0px !important; left: 0px !important; height: 0px !important; width: 0px !important;"></div>
      <iframe id="verify-api" src="https://verify.walletconnect.com/1b67e572673efc9259879e970065923d" style="display: none;"></iframe><iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none;" title="Twitter analytics iframe"></iframe>
   </body>




