@{
    ViewData["Title"] = "Home Page";
}

<main class="page-wrapper">
    <section class="p-home__header" data-prllx="1" data-p-top data-p-no-mask>
        <div class="abs p-home__intro" data-p-elt>
            <div class="intro-wrapper">
                <video class="lazy abs intro-loop-mobile" muted playsinline loop>
                    <source data-src="https://chirpley.ai/library/videos/chirpley-intro-loop-mobile.mp4" type="video/mp4">
                    </source>
                </video>
                <video class="lazy abs intro-loop-desktop" muted playsinline loop>
                    <source data-src="https://chirpley.ai/library/videos/chirpley-intro-loop.mp4" type="video/mp4">
                    </source>
                </video>
                <div class="abs gradient"></div>
                <video class="lazy abs intro-mobile" muted playsinline>
                    <source data-src="https://chirpley.ai/library/videos/chirpley-intro-mobile.mp4" type="video/mp4">
                    </source>
                </video>
                <video class="lazy abs intro-desktop" muted playsinline>
                    <source data-src="https://chirpley.ai/library/videos/chirpley-intro.mp4" type="video/mp4">
                    </source>
                </video>
            </div>
        </div>
        <h1 class="h--1 title">
            <div class="wrapper"><em>Teste</em><i>=</i>MEGA</div>
        </h1>
        <h2 class="subtitle">
            <div class="wrapper">Get in touch with your audience using micro & nano influencers</div>
        </h2>
    </section>
    <section class="p-home__target">
        <div class="photos">
            <div class="abs photo photo-1">
                <div class="wrapper-anim">
                    <div class="wrapper">
                        <div class="image">
                            <picture class="r r--resp" style="padding-bottom:100%" data-ratio="1"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://chirpley.ai/library/media/chirpley-homepage-selfie-02.jpg" data-srcset="https://chirpley.ai/library/media/chirpley-homepage-selfie-02-320x0-c-default.jpg 320w, https://chirpley.ai/library/media/chirpley-homepage-selfie-02-640x0-c-default.jpg 640w, https://chirpley.ai/library/media/chirpley-homepage-selfie-02-1024x0-c-default.jpg 1024w, https://chirpley.ai/library/media/chirpley-homepage-selfie-02-1280x0-c-default.jpg 1280w, https://chirpley.ai/library/media/chirpley-homepage-selfie-02.jpg 1400w" data-sizes="(min-width: 750px) 40vw, 100vw" alt=""></picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="abs photo photo-2">
                <div class="wrapper-anim">
                    <div class="wrapper">
                        <div class="image">
                            <picture class="r r--resp" style="padding-bottom:100%" data-ratio="1"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://chirpley.ai/library/media/chirpley-homepage-selfie-03.jpg" data-srcset="https://chirpley.ai/library/media/chirpley-homepage-selfie-03-320x0-c-default.jpg 320w, https://chirpley.ai/library/media/chirpley-homepage-selfie-03-640x0-c-default.jpg 640w, https://chirpley.ai/library/media/chirpley-homepage-selfie-03-1024x0-c-default.jpg 1024w, https://chirpley.ai/library/media/chirpley-homepage-selfie-03-1280x0-c-default.jpg 1280w, https://chirpley.ai/library/media/chirpley-homepage-selfie-03.jpg 1400w" data-sizes="(min-width: 750px) 40vw, 100vw" alt=""></picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="abs photo photo-3">
                <div class="wrapper-anim">
                    <div class="wrapper">
                        <div class="image">
                            <picture class="r r--resp" style="padding-bottom:100%" data-ratio="1"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://chirpley.ai/library/media/chirpley-homepage-selfie-01-1.jpg" data-srcset="https://chirpley.ai/library/media/chirpley-homepage-selfie-01-1-320x0-c-default.jpg 320w, https://chirpley.ai/library/media/chirpley-homepage-selfie-01-1-640x0-c-default.jpg 640w, https://chirpley.ai/library/media/chirpley-homepage-selfie-01-1-1024x0-c-default.jpg 1024w, https://chirpley.ai/library/media/chirpley-homepage-selfie-01-1-1280x0-c-default.jpg 1280w, https://chirpley.ai/library/media/chirpley-homepage-selfie-01-1.jpg 1400w" data-sizes="(min-width: 750px) 40vw, 100vw" alt=""></picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <h2 class="title">Target a  relevant audience on Social</h2>
        </div>
    </section>
    <section class="p-home__connect">
        <h2 class="title">Easy connect with your platform</h2>
        <div class="scroll-x-wrapper">
            <div class="scroll-x">
                <ul class="platforms">
                    <li class="f-center item">
                        <img class="icon" src="library/media/icon-discord.svg" alt="https://discord.gg/fR9CS8mcHn">
                    </li>
                    <li class="f-center item">
                        <img class="icon" src="library/media/icon-telegram.svg" alt="https://t.me/chirpley">
                    </li>
                    <li class="f-center item">
                        <img class="icon" src="library/media/twitter-1.svg" alt="https://twitter.com/chirpley">
                    </li>
                    <li class="f-center item">
                        <img class="icon" src="library/media/icon-youtube.svg" alt="https://www.youtube.com/channel/UCAToyfkEWZ6NosMJSjW8C8Q">
                    </li>
                    <li class="f-center item">
                        <img class="icon" src="library/media/icon-tiktok.svg" alt="https://www.tiktok.com/@@chirpley?">
                    </li>
                    <li class="f-center item">
                        <img class="icon" src="library/media/icon-instagram.svg" alt="https://www.instagram.com/chirpley/">
                    </li>
                    <li class="f-center item">
                        <img class="icon" src="library/media/icon-redit.svg" alt="https://www.reddit.com/user/me/">
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="p-home__oeuf">
        <div class="abs top">
            <div class="circle"></div>
            <div class="abs oeuf">
                <div class="wrapper-prllx" data-prllx=".8" data-p-no-mask>
                    <div class="wrapper">
                        <video class="lazy" autoplay muted playsinline loop>
                            <source data-src="https://chirpley.ai/library/videos/chirpley-egg.mp4" type="video/mp4">
                            </source>
                        </video>
                        <div class="abs gradient"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title">
            <p>
                Chirpley is the world’s first automated,<br>
                peer-to-peer, all-in-one influencer marketplace specifically focussed on nano and micro influencers. Chirpley will provide marketers with the freedom to act fast and effectively, thanks to the possibility of a 1-click marketing bomb.
            </p>
        </div>
        <ul class="facts">
            <li class="item">
                <h3 class="title">Easy to join</h3>
                <p class="p--s text">We want to liberate the huge earning potential of micro-influencer marketing.</p>
            </li>
            <li class="item">
                <h3 class="title">Think bigger</h3>
                <p class="p--s text">By enabling end-to-end automated, adaptive, data-driven micro-influencing campaigns through Artificial Intelligence & Machine Learning.</p>
            </li>
            <li class="item">
                <h3 class="title">Monetize your influence</h3>
                <p class="p--s text">Chirpley is the world's first automated, peer-to-peer, all-in-one influencer marketplace specifically focused on nano-micro influencers - ensuring the best engagement available.</p>
            </li>
        </ul>
    </section>
    <section class="p-home__ai">
        <div class="title-wrapper">
            <h2 class="title"><em>A.I<em class="dot">.</em></em> matching</h2>
        </div>
        <div class="content">
            <h3 class="subtitle"></h3>
            <p>Through Artificial Intelligence and Machine Learning, <strong>influencer and marketer</strong> will be paired to perfection, matched like never before, tailor made as nowhere else. End to end automated campaigns are data-driven, constantly refined and adapted to improve reach and impact, lifting results and effectiveness to dizzying heights.</p>
            <p class="p--s text"></p>
        </div>
        <div class="robot" data-prllx="1" data-p-no-mask>
            <picture class="r " style="padding-bottom:137.27272727273%" data-ratio="1.3727272727273"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://chirpley.ai/library/media/robot.png" data-srcset="https://chirpley.ai/library/media/robot-320x0-c-default.png 320w, https://chirpley.ai/library/media/robot-640x0-c-default.png 640w, https://chirpley.ai/library/media/robot-1024x0-c-default.png 1024w, https://chirpley.ai/library/media/robot-1280x0-c-default.png 1280w, https://chirpley.ai/library/media/robot.png 1320w" data-sizes="(min-width: 750px) 50vw, 100vw" alt="Robot"></picture>
        </div>
    </section>
</main>
