@{
    ViewData["Title"] = "Home Page";
}


<div id="home" class="page p-home hidden">
    <div class="fixed-wrapper"></div>
    <div class="js-scroll">

        <main class="page-wrapper">
            <section class="p-home__header" data-prllx="1" data-p-top data-p-no-mask>
                <div class="abs p-home__intro" data-p-elt>
                    <div class="intro-wrapper">
                        <video class="lazy abs intro-loop-mobile" muted playsinline loop>
                            <source data-src="library/videos/chirpley-intro-loop-mobile.mp4" type="video/mp4">
                            </source>
                        </video>
                        <video class="lazy abs intro-loop-desktop" muted playsinline loop>
                            @* <source data-src="library/videos/chirpley-intro-loop.mp4" type="video/mp4">
                            </source> *@
                            <source data-src="library/videos/Teste_Video.mp4" type="video/mp4">
                            </source>
                        </video>
                        @* <div class="abs gradient"></div> *@
                        <video class="lazy abs intro-mobile" muted playsinline>
                            <source data-src="library/videos/chirpley-intro-mobile.mp4" type="video/mp4">
                            </source>
                        </video>
                        <video class="lazy abs intro-desktop" muted playsinline>
                            <source data-src="library/videos/maker-intro.mp4" type="video/mp4">
                            </source>
                        </video>
                    </div>
                </div>
                <h1 class="h--1 title">
                    <div class="wrapper"><em>MAKER</em><i>=</i>MOON</div>
                </h1>
                <h2 class="subtitle">
                    <div class="wrapper">Promote your projects using Maker micro and nano influencers.</div>
                </h2>
            </section>
            <section class="p-home__target">
                <div class="photos">
                    <div class="abs photo photo-1">
                        <div class="wrapper-anim">
                            <div class="wrapper">
                                <div class="image">
                                    <picture class="r r--resp" style="padding-bottom:100%" data-ratio="1">
                                        <img class="lazy"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="/library/media/adamakers-homepage-selfie-02.png"
                                             data-srcset="/library/media/adamakers-homepage-selfie-02.png 320w,
                                                          /library/media/adamakers-homepage-selfie-02.png 640w,
                                                          /library/media/adamakers-homepage-selfie-02.png 1024w,
                                                          /library/media/adamakers-homepage-selfie-02.png 1280w,
                                                          /library/media/adamakers-homepage-selfie-02.png 1400w"
                                             data-sizes="(min-width: 750px) 40vw, 100vw"
                                             alt="Descrição da imagem">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="abs photo photo-2">
                        <div class="wrapper-anim">
                            <div class="wrapper">
                                <div class="image">
                                    <picture class="r r--resp" style="padding-bottom:100%" data-ratio="1">
                                        <img class="lazy"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="/library/media/adamakers-homepage-selfie-03.png"
                                             data-srcset="/library/media/adamakers-homepage-selfie-03.png 320w,
                                                          /library/media/adamakers-homepage-selfie-03.png 640w,
                                                          /library/media/adamakers-homepage-selfie-03.png 1024w,
                                                          /library/media/adamakers-homepage-selfie-03.png 1280w,
                                                          /library/media/adamakers-homepage-selfie-03.png 1400w"
                                             data-sizes="(min-width: 750px) 40vw, 100vw"
                                             alt="Descrição da imagem">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="abs photo photo-3">
                        <div class="wrapper-anim">
                            <div class="wrapper">
                                <div class="image">
                                    <picture class="r r--resp" style="padding-bottom:100%" data-ratio="1">
                                        <img class="lazy"
                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                             data-src="/library/media/adamakers-homepage-selfie-01-1.png"
                                             data-srcset="/library/media/adamakers-homepage-selfie-01-1.png 320w,
                                                          /library/media/adamakers-homepage-selfie-01-1.png 640w,
                                                          /library/media/adamakers-homepage-selfie-01-1.png 1024w,
                                                          /library/media/adamakers-homepage-selfie-01-1.png 1280w,
                                                          /library/media/adamakers-homepage-selfie-01-1.png 1400w"
                                             data-sizes="(min-width: 750px) 40vw, 100vw"
                                             alt="Descrição da imagem">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2 class="title">Target a  relevant audience on Social</h2>
                </div>
            </section>
            <section class="p-home__connect">
                <h2 class="title">Easy connect with your platform</h2>
                <div class="scroll-x-wrapper">
                    <div class="scroll-x">
                        <ul class="platforms">
                            <li class="f-center item">
                                <img class="icon" src="library/media/icon-discord.svg" alt="https://discord.gg/fR9CS8mcHn">
                                <label style="font-size: small; display: block; margin-top: 5px;">(soon)</label>
                            </li>
                            <li class="f-center item">
                                <img class="icon" src="library/media/icon-telegram.svg" alt="https://t.me/chirpley">
                                <label style="font-size: small; display: block; margin-top: 5px;">(soon)</label>
                            </li>
                            <li class="f-center item">
                                <img class="icon" src="library/media/twitter-1.svg" alt="https://twitter.com/chirpley">
                            </li>
                            <li class="f-center item">
                                <img class="icon" src="library/media/icon-youtube.svg" alt="https://www.youtube.com/channel/UCAToyfkEWZ6NosMJSjW8C8Q">
                                <label style="font-size: small; display: block; margin-top: 5px;">(soon)</label>
                            </li>
                            <li class="f-center item">
                                <img class="icon" src="library/media/icon-tiktok.svg" alt="https://www.tiktok.com/@@chirpley?">
                                <label style="font-size: small; display: block; margin-top: 5px;">(soon)</label>
                            </li>
                            <li class="f-center item">
                                <img class="icon" src="library/media/icon-instagram.svg" alt="https://www.instagram.com/chirpley/">
                                <label style="font-size: small; display: block; margin-top: 5px;">(soon)</label>
                            </li>
                            <li class="f-center item">
                                <img class="icon" src="library/media/icon-redit.svg" alt="https://www.reddit.com/user/me/">
                                <label style="font-size: small; display: block; margin-top: 5px;">(soon)</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="p-home__oeuf">
                <div class="abs top">
                    <div class="circle"></div>
                    <div class="abs oeuf">
                        <div class="wrapper-prllx" data-prllx=".8" data-p-no-mask>
                            <div class="wrapper">
                                @* <video class="lazy" autoplay muted playsinline loop>
                                    <source data-src="/library/videos/chirpley-egg.mp4" type="video/mp4">
                                    </source>
                                </video> *@
                                <img src="~/library/images/m_raio.png" />
                                @* <div class="abs gradient"></div> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title">
                    <p>
                        Ada Makers is the world's first,<br>  
                        social engagement marketplace for decentralized marketing using micro and nano influencers. Ada Makers will give projects the freedom to advertise their products quickly, affordably, and in a decentralized manner, thanks to the mechanism developed by the platform.
                    </p>
                </div>
                <ul class="facts">
                    <li class="item">
                        <h3 class="title">Easy to join</h3>
                        <p class="p--s text">We want to give ordinary people the opportunity to monetize their networks just like major influencers do.</p>
                    </li>
                    <li class="item">
                        <h3 class="title">Low Cost</h3>
                        <p class="p--s text">Our technology will enable new, small, medium, and even large projects to create impactful campaigns that are as effective as hiring a major influencer, but at a much lower cost.</p>
                    </li>
                    <li class="item">
                        <h3 class="title">SparkPro</h3>
                        <p class="p--s text">
                            All it takes is one NFT from the SparkPro collection to access all the tools of the first social engagement marketplace for decentralized marketing on Cardano and worldwide.
                            There are two types of NFTs: Creator, for projects, and Maker, for influencers.
                        </p>
                    </li>
                </ul>
            </section>
            <section class="p-home__ai">
                <div class="title-wrapper">
                    <h2 class="title"><em>Spark@* <em class="dot">.</em> *@</em>Pro</h2>
                </div>
                <div class="content">
                    <h3 class="subtitle"></h3>
                    <p>
                        All you need is an NFT from the SparkPro collection to access the first <strong>social engagement marketplace for decentralized marketing on Cardano</strong>. With it, you'll gain access to technology that integrates promotion opportunities and earning money in a simple, unprecedented way.
                        Campaigns will be guided by real-time information and adapted to ensure that <strong>Creators</strong> pay less and <strong>Makers</strong> earn more.
                    </p>
                    <p class="p--s text"></p>
                </div>
                <div class="robot" data-prllx="1" data-p-no-mask>
                    <picture class="r " style="padding-bottom:137.27272727273%" data-ratio="1.3727272727273"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/library/media/sparkpro_collection.png" data-srcset="/library/media/sparkpro_collection.png 320w, /library/media/sparkpro_collection.png 640w, /library/media/sparkpro_collection.png 1024w, /library/media/sparkpro_collection.png 1280w, /library/media/sparkpro_collection.png 1320w" data-sizes="(min-width: 750px) 50vw, 100vw" alt="Robot"></picture>
                </div>
            </section>
        </main>

        @await Html.PartialAsync("_Footer")
    </div>
</div>
