@{
    ViewData["Title"] = "Home Page";

}

<main class="v-main" style="--v-layout-left: 315px; --v-layout-right: 0px; --v-layout-top: 64px; --v-layout-bottom: 0px;">
    <!---->
    <div class="v-container v-locale--is-ltr">
        <div>
            <div class="birds"><img src="/img/bird_small.ab36f655.png" alt=""></div>
            <div class="infuencer-marketcap-head pb-6">
                <h1 class="h1 text-blue-cool-600 text-uppercase">leaderboard</h1>
            </div>
            <div class="v-card v-theme--light v-card--density-default elevation-0 v-card--variant-elevated card">
                <!---->
                <div class="v-card__loader">
                    <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px;">
                        <!---->
                        <div class="v-progress-linear__background"></div>
                        <div class="v-progress-linear__buffer" style="width: 0%;"></div>
                        <div class="v-progress-linear__indeterminate">
                            <div class="v-progress-linear__indeterminate long"></div>
                            <div class="v-progress-linear__indeterminate short"></div>
                        </div>
                        <!---->
                    </div>
                </div>
                <!----><!---->
                <div class="v-row">
                    <div class="v-col-md-6 v-col-lg-6 v-col-xl-4 v-col-xxl-4 v-col-12">
                        <div class="d-flex ga-4 flex-column w-100">
                            <div class="w-100">
                                <h1 class="text-subtitle text-transform-none">Top performing influencers</h1>
                            </div>
                            <div class="d-flex flex-wrap ga-2 justify-space-between">
                                <div class="d-flex ga-4">
                                    <p class="text-normal text-blue-cool-600 text-bold align-self-center">Platform</p>
                                    <img height="24" class="align-self-center" src="/img/icon.d57ac85f.svg" alt="">
                                    <div class="v-input v-input--horizontal v-input--center-affix v-input--density-compact v-theme--light v-locale--is-ltr v-input--dirty v-text-field v-select v-select--single v-select--selected input align-self-center">
                                        <!---->
                                        <div class="v-input__control">
                                            <div class="v-field v-field--active v-field--appended v-field--center-affix v-field--dirty v-field--no-label v-field--variant-filled v-theme--light v-locale--is-ltr" role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-owns="v-menu-522">
                                                <div class="v-field__overlay"></div>
                                                <div class="v-field__loader">
                                                    <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px;">
                                                        <!---->
                                                        <div class="v-progress-linear__background"></div>
                                                        <div class="v-progress-linear__buffer" style="width: 0%;"></div>
                                                        <div class="v-progress-linear__indeterminate">
                                                            <div class="v-progress-linear__indeterminate long"></div>
                                                            <div class="v-progress-linear__indeterminate short"></div>
                                                        </div>
                                                        <!---->
                                                    </div>
                                                </div>
                                                <!---->
                                                <div class="v-field__field" data-no-activator="">
                                                    <!---->
                                                    <label class="v-label v-field-label" for="input-520">
                                                        <!----><!---->
                                                    </label>
                                                    <!---->
                                                    <div class="v-field__input" data-no-activator="">
                                                        <!----><!---->
                                                        <div class="v-select__selection">
                                                            <span class="v-select__selection-text">
                                                                Twitter/X<!---->
                                                            </span>
                                                        </div>
                                                        <input size="1" type="text" id="input-520" aria-describedby="input-520-messages" inputmode="none" aria-label="Open" title="Open">
                                                    </div>
                                                    <!---->
                                                </div>
                                                <!---->
                                                <div class="v-field__append-inner">
                                                    <!---->
                                                    <i class="v-icon notranslate v-theme--light v-icon--size-default v-select__menu-icon" aria-hidden="true">
                                                        <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                            <path d="M7,10L12,15L17,10H7Z"></path>
                                                        </svg>
                                                    </i>
                                                    <!---->
                                                </div>
                                                <div class="v-field__outline">
                                                    <!----><!---->
                                                </div>
                                            </div>
                                        </div>
                                        <!----><!---->
                                    </div>
                                </div>
                                <div class="d-flex ga-2">
                                    <div class="v-slide-group v-chip-group v-theme--light py-0" tabindex="0">
                                        <!---->
                                        <div class="v-slide-group__container">
                                            <div class="v-slide-group__content">
                                                <span class="v-chip v-chip--link v-theme--light v-chip--density-default v-chip--size-default v-chip--variant-outlined chip-light" draggable="false" tabindex="0">
                                                    <span class="v-chip__overlay"></span><span class="v-chip__underlay"></span><!----><!---->
                                                    <div class="v-chip__content" data-no-activator="">Day</div>
                                                    <!----><!---->
                                                </span>
                                                <span class="v-chip v-chip--link v-theme--light v-chip--density-default v-chip--size-default v-chip--variant-outlined chip-light" draggable="false" tabindex="0">
                                                    <span class="v-chip__overlay"></span><span class="v-chip__underlay"></span><!----><!---->
                                                    <div class="v-chip__content" data-no-activator="">Week</div>
                                                    <!----><!---->
                                                </span>
                                                <span class="v-chip v-chip--link v-theme--light text-primary v-chip--density-default v-chip--size-default v-chip--variant-outlined v-chip--selected chip-light" draggable="false" tabindex="0">
                                                    <span class="v-chip__overlay"></span><span class="v-chip__underlay"></span><!----><!---->
                                                    <div class="v-chip__content" data-no-activator="">Month</div>
                                                    <!----><!---->
                                                </span>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                            </div>
                            <div class="v-card v-theme--light v-card--density-default v-card--variant-elevated card-light">
                                <!---->
                                <div class="v-card__loader">
                                    <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px;">
                                        <!---->
                                        <div class="v-progress-linear__background"></div>
                                        <div class="v-progress-linear__buffer" style="width: 0%;"></div>
                                        <div class="v-progress-linear__indeterminate">
                                            <div class="v-progress-linear__indeterminate long"></div>
                                            <div class="v-progress-linear__indeterminate short"></div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                                <!----><!---->
                                <div class="v-table v-table--has-top v-table--has-bottom v-theme--light v-table--density-default v-data-table">
                                    <!---->
                                    <div class="v-table__wrapper">
                                        <table>
                                            <!----><!----><!---->
                                            <tbody>
                                                <!---->
                                                <tr class="v-data-table__tr v-data-table__tr--clickable">
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <div class="d-flex ga-2">
                                                            <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--variant-flat align-self-center" style="width: 32px; height: 32px;">
                                                                <div class="v-responsive v-img" aria-label="">
                                                                    <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                                                    <img class="v-img__img v-img__img--cover" src="https://cdn.chirpley.ai/assets/images/default_avatar.png" alt="" style=""><!----><!----><!----><!----><!---->
                                                                </div>
                                                                <!----><span class="v-avatar__underlay"></span>
                                                            </div>
                                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">bongzee32 </p>
                                                        </div>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">1237 Offers</p>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-end">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">81 Followers</p>
                                                    </td>
                                                </tr>
                                                <!---->
                                                <tr class="v-data-table__tr v-data-table__tr--clickable">
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <div class="d-flex ga-2">
                                                            <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--variant-flat align-self-center" style="width: 32px; height: 32px;">
                                                                <div class="v-responsive v-img" aria-label="">
                                                                    <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                                                    <img class="v-img__img v-img__img--cover" src="https://cdn.chirpley.ai/users/avatars/ujZU83bPimwPRxJHEkELOp0pC4sy.png" alt="" style=""><!----><!----><!----><!----><!---->
                                                                </div>
                                                                <!----><span class="v-avatar__underlay"></span>
                                                            </div>
                                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">Harywhykay</p>
                                                        </div>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">1093 Offers</p>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-end">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">330 Followers</p>
                                                    </td>
                                                </tr>
                                                <!---->
                                                <tr class="v-data-table__tr v-data-table__tr--clickable">
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <div class="d-flex ga-2">
                                                            <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--variant-flat align-self-center" style="width: 32px; height: 32px;">
                                                                <div class="v-responsive v-img" aria-label="">
                                                                    <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                                                    <img class="v-img__img v-img__img--cover" src="https://cdn.chirpley.ai/assets/images/default_avatar.png" alt="" style=""><!----><!----><!----><!----><!---->
                                                                </div>
                                                                <!----><span class="v-avatar__underlay"></span>
                                                            </div>
                                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">barryblavk </p>
                                                        </div>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">997 Offers</p>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-end">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">2 Followers</p>
                                                    </td>
                                                </tr>
                                                <!---->
                                                <tr class="v-data-table__tr v-data-table__tr--clickable">
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <div class="d-flex ga-2">
                                                            <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--variant-flat align-self-center" style="width: 32px; height: 32px;">
                                                                <div class="v-responsive v-img" aria-label="">
                                                                    <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                                                    <img class="v-img__img v-img__img--cover" src="https://cdn.chirpley.ai/assets/images/default_avatar.png" alt="" style=""><!----><!----><!----><!----><!---->
                                                                </div>
                                                                <!----><span class="v-avatar__underlay"></span>
                                                            </div>
                                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">miracle5t</p>
                                                        </div>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">926 Offers</p>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-end">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">69 Followers</p>
                                                    </td>
                                                </tr>
                                                <!---->
                                                <tr class="v-data-table__tr v-data-table__tr--clickable">
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <div class="d-flex ga-2">
                                                            <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--variant-flat align-self-center" style="width: 32px; height: 32px;">
                                                                <div class="v-responsive v-img" aria-label="">
                                                                    <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                                                    <img class="v-img__img v-img__img--cover" src="https://cdn.chirpley.ai/assets/images/default_avatar.png" alt="" style=""><!----><!----><!----><!----><!---->
                                                                </div>
                                                                <!----><span class="v-avatar__underlay"></span>
                                                            </div>
                                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">dealdray</p>
                                                        </div>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">900 Offers</p>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-end">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">7122 Followers</p>
                                                    </td>
                                                </tr>
                                                <!----><!---->
                                            </tbody>
                                            <!----><!---->
                                        </table>
                                    </div>
                                    <!---->
                                </div>
                                <!----><!----><span class="v-card__underlay"></span>
                            </div>
                        </div>
                    </div>
                    <div class="v-col-md-6 v-col-lg-6 v-col-xl-4 v-col-xxl-4 v-col-12">
                        <div class="d-flex ga-4 flex-column w-100">
                            <div class="w-100">
                                <h1 class="text-subtitle text-transform-none">Top follower gainer</h1>
                            </div>
                            <div class="d-flex flex-wrap justify-space-between">
                                <div class="d-flex ga-4">
                                    <p class="text-normal text-blue-cool-600 text-bold align-self-center">Platform</p>
                                    <img height="24" class="align-self-center" src="/img/icon.d57ac85f.svg" alt="">
                                    <div class="v-input v-input--horizontal v-input--center-affix v-input--density-compact v-theme--light v-locale--is-ltr v-input--dirty v-text-field v-select v-select--single v-select--selected input align-self-center">
                                        <!---->
                                        <div class="v-input__control">
                                            <div class="v-field v-field--active v-field--appended v-field--center-affix v-field--dirty v-field--no-label v-field--variant-filled v-theme--light v-locale--is-ltr" role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-owns="v-menu-528">
                                                <div class="v-field__overlay"></div>
                                                <div class="v-field__loader">
                                                    <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px;">
                                                        <!---->
                                                        <div class="v-progress-linear__background"></div>
                                                        <div class="v-progress-linear__buffer" style="width: 0%;"></div>
                                                        <div class="v-progress-linear__indeterminate">
                                                            <div class="v-progress-linear__indeterminate long"></div>
                                                            <div class="v-progress-linear__indeterminate short"></div>
                                                        </div>
                                                        <!---->
                                                    </div>
                                                </div>
                                                <!---->
                                                <div class="v-field__field" data-no-activator="">
                                                    <!---->
                                                    <label class="v-label v-field-label" for="input-526">
                                                        <!----><!---->
                                                    </label>
                                                    <!---->
                                                    <div class="v-field__input" data-no-activator="">
                                                        <!----><!---->
                                                        <div class="v-select__selection">
                                                            <span class="v-select__selection-text">
                                                                Twitter/X<!---->
                                                            </span>
                                                        </div>
                                                        <input size="1" type="text" id="input-526" aria-describedby="input-526-messages" inputmode="none" aria-label="Open" title="Open">
                                                    </div>
                                                    <!---->
                                                </div>
                                                <!---->
                                                <div class="v-field__append-inner">
                                                    <!---->
                                                    <i class="v-icon notranslate v-theme--light v-icon--size-default v-select__menu-icon" aria-hidden="true">
                                                        <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                            <path d="M7,10L12,15L17,10H7Z"></path>
                                                        </svg>
                                                    </i>
                                                    <!---->
                                                </div>
                                                <div class="v-field__outline">
                                                    <!----><!---->
                                                </div>
                                            </div>
                                        </div>
                                        <!----><!---->
                                    </div>
                                </div>
                            </div>
                            <div class="v-card v-theme--light v-card--density-default v-card--variant-elevated card-light">
                                <!---->
                                <div class="v-card__loader">
                                    <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px;">
                                        <!---->
                                        <div class="v-progress-linear__background"></div>
                                        <div class="v-progress-linear__buffer" style="width: 0%;"></div>
                                        <div class="v-progress-linear__indeterminate">
                                            <div class="v-progress-linear__indeterminate long"></div>
                                            <div class="v-progress-linear__indeterminate short"></div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                                <!----><!---->
                                <div class="v-table v-table--has-top v-table--has-bottom v-theme--light v-table--density-default v-data-table">
                                    <!---->
                                    <div class="v-table__wrapper">
                                        <table>
                                            <!----><!----><!---->
                                            <tbody>
                                                <!---->
                                                <tr class="v-data-table__tr v-data-table__tr--clickable">
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <div class="d-flex ga-2">
                                                            <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--variant-flat align-self-center" style="width: 32px; height: 32px;">
                                                                <div class="v-responsive v-img" aria-label="">
                                                                    <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                                                    <img class="v-img__img v-img__img--cover" src="https://cdn.chirpley.ai/assets/images/default_avatar.png" alt="" style=""><!----><!----><!----><!----><!---->
                                                                </div>
                                                                <!----><span class="v-avatar__underlay"></span>
                                                            </div>
                                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">chirp_1732167352_6423</p>
                                                        </div>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">462464 Gained</p>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-end">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">462464 Followers</p>
                                                    </td>
                                                </tr>
                                                <!---->
                                                <tr class="v-data-table__tr v-data-table__tr--clickable">
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <div class="d-flex ga-2">
                                                            <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--variant-flat align-self-center" style="width: 32px; height: 32px;">
                                                                <div class="v-responsive v-img" aria-label="">
                                                                    <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                                                    <img class="v-img__img v-img__img--cover" src="https://cdn.chirpley.ai/users/avatars/x6wEkenQ67oGjkmstPUtkYoTeorf.png" alt="" style=""><!----><!----><!----><!----><!---->
                                                                </div>
                                                                <!----><span class="v-avatar__underlay"></span>
                                                            </div>
                                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">Friend3</p>
                                                        </div>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">268325 Gained</p>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-end">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">268325 Followers</p>
                                                    </td>
                                                </tr>
                                                <!---->
                                                <tr class="v-data-table__tr v-data-table__tr--clickable">
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <div class="d-flex ga-2">
                                                            <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--variant-flat align-self-center" style="width: 32px; height: 32px;">
                                                                <div class="v-responsive v-img" aria-label="">
                                                                    <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                                                    <img class="v-img__img v-img__img--cover" src="https://cdn.chirpley.ai/users/avatars/XiqqUpPZGe8A2RF0jQEF22LgHdF4.png" alt="" style=""><!----><!----><!----><!----><!---->
                                                                </div>
                                                                <!----><span class="v-avatar__underlay"></span>
                                                            </div>
                                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">Komodo</p>
                                                        </div>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">117673 Gained</p>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-end">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">117673 Followers</p>
                                                    </td>
                                                </tr>
                                                <!---->
                                                <tr class="v-data-table__tr v-data-table__tr--clickable">
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <div class="d-flex ga-2">
                                                            <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--variant-flat align-self-center" style="width: 32px; height: 32px;">
                                                                <div class="v-responsive v-img" aria-label="">
                                                                    <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                                                    <img class="v-img__img v-img__img--cover" src="https://cdn.chirpley.ai/assets/images/default_avatar.png" alt="" style=""><!----><!----><!----><!----><!---->
                                                                </div>
                                                                <!----><span class="v-avatar__underlay"></span>
                                                            </div>
                                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">samcodeng</p>
                                                        </div>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">112682 Gained</p>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-end">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">112682 Followers</p>
                                                    </td>
                                                </tr>
                                                <!---->
                                                <tr class="v-data-table__tr v-data-table__tr--clickable">
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <div class="d-flex ga-2">
                                                            <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--variant-flat align-self-center" style="width: 32px; height: 32px;">
                                                                <div class="v-responsive v-img" aria-label="">
                                                                    <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                                                    <img class="v-img__img v-img__img--cover" src="https://cdn.chirpley.ai/users/avatars/WtmQGmK8fErO2bZT7dmsmmsSt4Rf.png" alt="" style=""><!----><!----><!----><!----><!---->
                                                                </div>
                                                                <!----><span class="v-avatar__underlay"></span>
                                                            </div>
                                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">Pokelon Finance</p>
                                                        </div>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-start">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">95985 Gained</p>
                                                    </td>
                                                    <td class="v-data-table__td v-data-table-column--align-end">
                                                        <p class="text-normal text-blue-cool-400 text-nowrap">95985 Followers</p>
                                                    </td>
                                                </tr>
                                                <!----><!---->
                                            </tbody>
                                            <!----><!---->
                                        </table>
                                    </div>
                                    <!---->
                                </div>
                                <!----><!----><span class="v-card__underlay"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-space-between pt-16 pb-6">
                    <h1 class="text-subtitle text-transform-none align-self-center">On-platform statistics</h1>
                    <!---->
                </div>
                <div class="leaderbord-filters pb-6 spacing-L">
                    <div class="d-flex align-center gap-16 pl-0">
                        <button type="button" class="v-btn v-theme--light v-btn--density-default v-btn--rounded v-btn--size-large v-btn--variant-text fl-btn">
                            <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator="">On-platform </span><!----><!---->
                        </button>
                        <button type="button" class="v-btn v-theme--light v-btn--density-default v-btn--rounded v-btn--size-large v-btn--variant-text fl-btn off">
                            <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator="">Off-platform </span><!----><!---->
                        </button>
                    </div>
                    <!---->
                    <div class="align-self-center role-toggle">
                        <div class="v-btn-group v-theme--light v-btn-group--density-default v-btn-toggle role-toggle-inner">
                            <button type="button" class="v-btn v-btn--active v-btn--flat v-theme--light v-btn--density-default rounded-xl v-btn--size-default v-btn--variant-tonal v-btn influencer-toggle" value="INFL" style="height: auto;">
                                <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator="">Influencer</span><!----><!---->
                            </button>
                            <button type="button" class="v-btn v-btn--flat v-theme--light v-btn--density-default rounded-xl v-btn--size-default v-btn--variant-tonal v-btn brand-toggle" value="BRND" style="height: auto;">
                                <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator="">Brand</span><!----><!---->
                            </button>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="v-table v-table--has-top v-table--has-bottom v-theme--light v-table--density-default v-data-table influencer-marketcap-table">
                    <!---->
                    <div class="v-table__wrapper">
                        <table>
                            <!---->
                            <thead class="v-data-table__thead" role="rowgroup">
                                <tr>
                                    <th class="v-data-table__td v-data-table-column--align-start v-data-table__th--sortable v-data-table__th" colspan="1" rowspan="1">
                                        <div class="v-data-table-header__content">
                                            <span>#</span>
                                            <i class="v-icon notranslate v-theme--light v-icon--size-default v-data-table-header__sort-icon" aria-hidden="true">
                                                <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                    <path d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z"></path>
                                                </svg>
                                            </i>
                                            <!---->
                                        </div>
                                    </th>
                                    <th class="v-data-table__td v-data-table-column--align-start v-data-table__th--sortable v-data-table__th" colspan="1" rowspan="1">
                                        <div class="v-data-table-header__content">
                                            <span>Name</span>
                                            <i class="v-icon notranslate v-theme--light v-icon--size-default v-data-table-header__sort-icon" aria-hidden="true">
                                                <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                    <path d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z"></path>
                                                </svg>
                                            </i>
                                            <!---->
                                        </div>
                                    </th>
                                    <th class="v-data-table__td v-data-table-column--align-start v-data-table__th--sortable v-data-table__th" colspan="1" rowspan="1">
                                        <div class="v-data-table-header__content">
                                            <span>Generated revenue through Chirpley in $</span>
                                            <i class="v-icon notranslate v-theme--light v-icon--size-default v-data-table-header__sort-icon" aria-hidden="true">
                                                <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                    <path d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z"></path>
                                                </svg>
                                            </i>
                                            <!---->
                                        </div>
                                    </th>
                                    <th class="v-data-table__td v-data-table-column--align-start v-data-table__th--sortable v-data-table__th" colspan="1" rowspan="1">
                                        <div class="v-data-table-header__content">
                                            <span>Average response time</span>
                                            <i class="v-icon notranslate v-theme--light v-icon--size-default v-data-table-header__sort-icon" aria-hidden="true">
                                                <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                    <path d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z"></path>
                                                </svg>
                                            </i>
                                            <!---->
                                        </div>
                                    </th>
                                    <th class="v-data-table__td v-data-table-column--align-start v-data-table__th--sortable v-data-table__th" colspan="1" rowspan="1">
                                        <div class="v-data-table-header__content">
                                            <span>Acceptance rate</span>
                                            <i class="v-icon notranslate v-theme--light v-icon--size-default v-data-table-header__sort-icon" aria-hidden="true">
                                                <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                    <path d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z"></path>
                                                </svg>
                                            </i>
                                            <!---->
                                        </div>
                                    </th>
                                    <th class="v-data-table__td v-data-table-column--align-start v-data-table__th--sortable v-data-table__th" colspan="1" rowspan="1">
                                        <div class="v-data-table-header__content">
                                            <span>Decline rate rate</span>
                                            <i class="v-icon notranslate v-theme--light v-icon--size-default v-data-table-header__sort-icon" aria-hidden="true">
                                                <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                    <path d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z"></path>
                                                </svg>
                                            </i>
                                            <!---->
                                        </div>
                                    </th>
                                    <th class="v-data-table__td v-data-table-column--align-start v-data-table__th--sortable v-data-table__th" colspan="1" rowspan="1">
                                        <div class="v-data-table-header__content">
                                            <span>Average engagement</span>
                                            <i class="v-icon notranslate v-theme--light v-icon--size-default v-data-table-header__sort-icon" aria-hidden="true">
                                                <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                    <path d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z"></path>
                                                </svg>
                                            </i>
                                            <!---->
                                        </div>
                                    </th>
                                </tr>
                                <!---->
                            </thead>
                            <!---->
                            <tbody class="v-data-table__tbody" role="rowgroup">
                                <!---->
                                <tr class="v-data-table__tr v-data-table__tr--clickable">
                                    <td class="v-data-table__td v-data-table-column--align-start">
                                        <div class="d-flex ga-6">
                                            <div class="align-self-center">
                                                <div></div>
                                            </div>
                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">1</p>
                                            <div class="like align-self-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                    <path d="M13.8941 3.07455C13.5536 2.73389 13.1493 2.46365 12.7043 2.27927C12.2593 2.0949 11.7824 2 11.3007 2C10.8191 2 10.3421 2.0949 9.89716 2.27927C9.45219 2.46365 9.0479 2.73389 8.7074 3.07455L8.00073 3.78122L7.29406 3.07455C6.60627 2.38676 5.67342 2.00036 4.70073 2.00036C3.72804 2.00036 2.79519 2.38676 2.1074 3.07455C1.4196 3.76235 1.0332 4.69519 1.0332 5.66788C1.0332 6.64057 1.4196 7.57342 2.1074 8.26122L8.00073 14.1545L13.8941 8.26122C14.2347 7.92071 14.505 7.51643 14.6893 7.07145C14.8737 6.62648 14.9686 6.14954 14.9686 5.66788C14.9686 5.18622 14.8737 4.70929 14.6893 4.26431C14.505 3.81934 14.2347 3.41505 13.8941 3.07455Z" stroke="#8C8B91" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">
                                        <div class="d-flex ga-2">
                                            <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--variant-flat align-self-center" style="width: 32px; height: 32px;">
                                                <div class="v-responsive v-img" aria-label="">
                                                    <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                                    <img class="v-img__img v-img__img--cover" src="https://cdn.chirpley.ai/assets/images/default_avatar.png" alt="" style=""><!----><!----><!----><!----><!---->
                                                </div>
                                                <!----><span class="v-avatar__underlay"></span>
                                            </div>
                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">DaddySoft</p>
                                        </div>
                                    </td>
                                    <td class="v-data-table__td v-data-table-column--align-start"> $ 722.00</td>
                                    <td class="v-data-table__td v-data-table-column--align-start">5 day(s) </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">93.64% </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">5.34% </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">0.98% </td>
                                </tr>
                                <!---->
                                <tr class="v-data-table__tr v-data-table__tr--clickable">
                                    <td class="v-data-table__td v-data-table-column--align-start">
                                        <div class="d-flex ga-6">
                                            <div class="align-self-center">
                                                <div></div>
                                            </div>
                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">2</p>
                                            <div class="like align-self-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                    <path d="M13.8941 3.07455C13.5536 2.73389 13.1493 2.46365 12.7043 2.27927C12.2593 2.0949 11.7824 2 11.3007 2C10.8191 2 10.3421 2.0949 9.89716 2.27927C9.45219 2.46365 9.0479 2.73389 8.7074 3.07455L8.00073 3.78122L7.29406 3.07455C6.60627 2.38676 5.67342 2.00036 4.70073 2.00036C3.72804 2.00036 2.79519 2.38676 2.1074 3.07455C1.4196 3.76235 1.0332 4.69519 1.0332 5.66788C1.0332 6.64057 1.4196 7.57342 2.1074 8.26122L8.00073 14.1545L13.8941 8.26122C14.2347 7.92071 14.505 7.51643 14.6893 7.07145C14.8737 6.62648 14.9686 6.14954 14.9686 5.66788C14.9686 5.18622 14.8737 4.70929 14.6893 4.26431C14.505 3.81934 14.2347 3.41505 13.8941 3.07455Z" stroke="#8C8B91" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">
                                        <div class="d-flex ga-2">
                                            <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--variant-flat align-self-center" style="width: 32px; height: 32px;">
                                                <div class="v-responsive v-img" aria-label="">
                                                    <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                                    <img class="v-img__img v-img__img--cover" src="https://cdn.chirpley.ai/users/avatars/mtuiW91YR5y3QOTJATMJ9HQbGeTO.png" alt="" style=""><!----><!----><!----><!----><!---->
                                                </div>
                                                <!----><span class="v-avatar__underlay"></span>
                                            </div>
                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">scieinspirit</p>
                                        </div>
                                    </td>
                                    <td class="v-data-table__td v-data-table-column--align-start"> $ 294.60</td>
                                    <td class="v-data-table__td v-data-table-column--align-start">1 day(s) </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">97.84% </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">0.27% </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">3.79% </td>
                                </tr>
                                <!---->
                                <tr class="v-data-table__tr v-data-table__tr--clickable">
                                    <td class="v-data-table__td v-data-table-column--align-start">
                                        <div class="d-flex ga-6">
                                            <div class="align-self-center">
                                                <div></div>
                                            </div>
                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">3</p>
                                            <div class="like align-self-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                    <path d="M13.8941 3.07455C13.5536 2.73389 13.1493 2.46365 12.7043 2.27927C12.2593 2.0949 11.7824 2 11.3007 2C10.8191 2 10.3421 2.0949 9.89716 2.27927C9.45219 2.46365 9.0479 2.73389 8.7074 3.07455L8.00073 3.78122L7.29406 3.07455C6.60627 2.38676 5.67342 2.00036 4.70073 2.00036C3.72804 2.00036 2.79519 2.38676 2.1074 3.07455C1.4196 3.76235 1.0332 4.69519 1.0332 5.66788C1.0332 6.64057 1.4196 7.57342 2.1074 8.26122L8.00073 14.1545L13.8941 8.26122C14.2347 7.92071 14.505 7.51643 14.6893 7.07145C14.8737 6.62648 14.9686 6.14954 14.9686 5.66788C14.9686 5.18622 14.8737 4.70929 14.6893 4.26431C14.505 3.81934 14.2347 3.41505 13.8941 3.07455Z" stroke="#8C8B91" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">
                                        <div class="d-flex ga-2">
                                            <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--variant-flat align-self-center" style="width: 32px; height: 32px;">
                                                <div class="v-responsive v-img" aria-label="">
                                                    <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                                    <img class="v-img__img v-img__img--cover" src="https://cdn.chirpley.ai/assets/images/default_avatar.png" alt="" style=""><!----><!----><!----><!----><!---->
                                                </div>
                                                <!----><span class="v-avatar__underlay"></span>
                                            </div>
                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">Taka</p>
                                        </div>
                                    </td>
                                    <td class="v-data-table__td v-data-table-column--align-start"> $ 203.86</td>
                                    <td class="v-data-table__td v-data-table-column--align-start">1 day(s) </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">98.25% </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">0.82% </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">0.11% </td>
                                </tr>
                                <!---->
                                <tr class="v-data-table__tr v-data-table__tr--clickable">
                                    <td class="v-data-table__td v-data-table-column--align-start">
                                        <div class="d-flex ga-6">
                                            <div class="align-self-center">
                                                <div></div>
                                            </div>
                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">4</p>
                                            <div class="like align-self-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                    <path d="M13.8941 3.07455C13.5536 2.73389 13.1493 2.46365 12.7043 2.27927C12.2593 2.0949 11.7824 2 11.3007 2C10.8191 2 10.3421 2.0949 9.89716 2.27927C9.45219 2.46365 9.0479 2.73389 8.7074 3.07455L8.00073 3.78122L7.29406 3.07455C6.60627 2.38676 5.67342 2.00036 4.70073 2.00036C3.72804 2.00036 2.79519 2.38676 2.1074 3.07455C1.4196 3.76235 1.0332 4.69519 1.0332 5.66788C1.0332 6.64057 1.4196 7.57342 2.1074 8.26122L8.00073 14.1545L13.8941 8.26122C14.2347 7.92071 14.505 7.51643 14.6893 7.07145C14.8737 6.62648 14.9686 6.14954 14.9686 5.66788C14.9686 5.18622 14.8737 4.70929 14.6893 4.26431C14.505 3.81934 14.2347 3.41505 13.8941 3.07455Z" stroke="#8C8B91" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">
                                        <div class="d-flex ga-2">
                                            <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--variant-flat align-self-center" style="width: 32px; height: 32px;">
                                                <div class="v-responsive v-img" aria-label="">
                                                    <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                                    <img class="v-img__img v-img__img--cover" src="https://cdn.chirpley.ai/assets/images/default_avatar.png" alt="" style=""><!----><!----><!----><!----><!---->
                                                </div>
                                                <!----><span class="v-avatar__underlay"></span>
                                            </div>
                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">Oyekayo</p>
                                        </div>
                                    </td>
                                    <td class="v-data-table__td v-data-table-column--align-start"> $ 160.20</td>
                                    <td class="v-data-table__td v-data-table-column--align-start">0 day(s) </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">97.90% </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">0.08% </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">0.96% </td>
                                </tr>
                                <!---->
                                <tr class="v-data-table__tr v-data-table__tr--clickable">
                                    <td class="v-data-table__td v-data-table-column--align-start">
                                        <div class="d-flex ga-6">
                                            <div class="align-self-center">
                                                <div></div>
                                            </div>
                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">5</p>
                                            <div class="like align-self-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                    <path d="M13.8941 3.07455C13.5536 2.73389 13.1493 2.46365 12.7043 2.27927C12.2593 2.0949 11.7824 2 11.3007 2C10.8191 2 10.3421 2.0949 9.89716 2.27927C9.45219 2.46365 9.0479 2.73389 8.7074 3.07455L8.00073 3.78122L7.29406 3.07455C6.60627 2.38676 5.67342 2.00036 4.70073 2.00036C3.72804 2.00036 2.79519 2.38676 2.1074 3.07455C1.4196 3.76235 1.0332 4.69519 1.0332 5.66788C1.0332 6.64057 1.4196 7.57342 2.1074 8.26122L8.00073 14.1545L13.8941 8.26122C14.2347 7.92071 14.505 7.51643 14.6893 7.07145C14.8737 6.62648 14.9686 6.14954 14.9686 5.66788C14.9686 5.18622 14.8737 4.70929 14.6893 4.26431C14.505 3.81934 14.2347 3.41505 13.8941 3.07455Z" stroke="#8C8B91" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">
                                        <div class="d-flex ga-2">
                                            <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--variant-flat align-self-center" style="width: 32px; height: 32px;">
                                                <div class="v-responsive v-img" aria-label="">
                                                    <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                                    <img class="v-img__img v-img__img--cover" src="https://cdn.chirpley.ai/users/avatars/65KIdmSSmxfHgfNQyPzkHZDRxMuq.png" alt="" style=""><!----><!----><!----><!----><!---->
                                                </div>
                                                <!----><span class="v-avatar__underlay"></span>
                                            </div>
                                            <p class="align-self-center text-bold text-normal text-blue-cool-600">stegosoft</p>
                                        </div>
                                    </td>
                                    <td class="v-data-table__td v-data-table-column--align-start"> $ 156.12</td>
                                    <td class="v-data-table__td v-data-table-column--align-start">0 day(s) </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">53.92% </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">45.32% </td>
                                    <td class="v-data-table__td v-data-table-column--align-start">4.44% </td>
                                </tr>
                                <!----><!---->
                            </tbody>
                            <!----><!---->
                        </table>
                    </div>
                    <hr class="v-divider v-theme--light" aria-orientation="horizontal" role="separator">
                    <div class="v-data-table-footer">
                        <!---->
                        <div class="v-data-table-footer__items-per-page">
                            <span>Items per page:</span>
                            <div class="v-input v-input--horizontal v-input--center-affix v-input--density-compact v-theme--light v-locale--is-ltr v-input--dirty v-text-field v-select v-select--single v-select--selected">
                                <!---->
                                <div class="v-input__control">
                                    <div class="v-field v-field--active v-field--appended v-field--center-affix v-field--dirty v-field--no-label v-field--variant-outlined v-theme--light v-locale--is-ltr" role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-owns="v-menu-535">
                                        <div class="v-field__overlay"></div>
                                        <div class="v-field__loader">
                                            <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px;">
                                                <!---->
                                                <div class="v-progress-linear__background"></div>
                                                <div class="v-progress-linear__buffer" style="width: 0%;"></div>
                                                <div class="v-progress-linear__indeterminate">
                                                    <div class="v-progress-linear__indeterminate long"></div>
                                                    <div class="v-progress-linear__indeterminate short"></div>
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                        <!---->
                                        <div class="v-field__field" data-no-activator="">
                                            <!---->
                                            <label class="v-label v-field-label" for="input-533">
                                                <!----><!---->
                                            </label>
                                            <!---->
                                            <div class="v-field__input" data-no-activator="">
                                                <!----><!---->
                                                <div class="v-select__selection">
                                                    <span class="v-select__selection-text">
                                                        5<!---->
                                                    </span>
                                                </div>
                                                <input size="1" type="text" id="input-533" aria-describedby="input-533-messages" inputmode="none" aria-label="Open" title="Open">
                                            </div>
                                            <!---->
                                        </div>
                                        <!---->
                                        <div class="v-field__append-inner">
                                            <!---->
                                            <i class="v-icon notranslate v-theme--light v-icon--size-default v-select__menu-icon" aria-hidden="true">
                                                <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                    <path d="M7,10L12,15L17,10H7Z"></path>
                                                </svg>
                                            </i>
                                            <!---->
                                        </div>
                                        <div class="v-field__outline">
                                            <div class="v-field__outline__start"></div>
                                            <!---->
                                            <div class="v-field__outline__end"></div>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <!----><!---->
                            </div>
                        </div>
                        <div class="v-data-table-footer__info">
                            <div>1-5 of 9638</div>
                        </div>
                        <div class="v-data-table-footer__pagination">
                            <nav class="v-pagination v-theme--light" role="navigation" aria-label="Pagination Navigation" data-test="v-pagination-root">
                                <ul class="v-pagination__list">
                                    <li class="v-pagination__first" data-test="v-pagination-first">
                                        <button type="button" class="v-btn v-btn--disabled v-btn--icon v-theme--light v-btn--density-comfortable v-btn--rounded v-btn--size-default v-btn--variant-plain" disabled="" aria-label="First page" aria-disabled="true">
                                            <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                            <span class="v-btn__content" data-no-activator="">
                                                <i class="v-icon notranslate v-theme--light v-icon--size-default" aria-hidden="true">
                                                    <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                        <path d="M18.41,16.59L13.82,12L18.41,7.41L17,6L11,12L17,18L18.41,16.59M6,6H8V18H6V6Z"></path>
                                                    </svg>
                                                </i>
                                            </span>
                                            <!----><!---->
                                        </button>
                                    </li>
                                    <li class="v-pagination__prev" data-test="v-pagination-prev">
                                        <button type="button" class="v-btn v-btn--disabled v-btn--icon v-theme--light v-btn--density-comfortable v-btn--rounded v-btn--size-default v-btn--variant-plain" disabled="" aria-label="Previous page" aria-disabled="true">
                                            <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                            <span class="v-btn__content" data-no-activator="">
                                                <i class="v-icon notranslate v-theme--light v-icon--size-default" aria-hidden="true">
                                                    <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                        <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"></path>
                                                    </svg>
                                                </i>
                                            </span>
                                            <!----><!---->
                                        </button>
                                    </li>
                                    <li class="v-pagination__next" data-test="v-pagination-next">
                                        <button type="button" class="v-btn v-btn--icon v-theme--light v-btn--density-comfortable v-btn--rounded v-btn--size-default v-btn--variant-plain" aria-label="Next page" aria-disabled="false">
                                            <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                            <span class="v-btn__content" data-no-activator="">
                                                <i class="v-icon notranslate v-theme--light v-icon--size-default" aria-hidden="true">
                                                    <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                        <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
                                                    </svg>
                                                </i>
                                            </span>
                                            <!----><!---->
                                        </button>
                                    </li>
                                    <li class="v-pagination__last" data-test="v-pagination-last">
                                        <button type="button" class="v-btn v-btn--icon v-theme--light v-btn--density-comfortable v-btn--rounded v-btn--size-default v-btn--variant-plain" aria-label="Last page" aria-disabled="false">
                                            <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                            <span class="v-btn__content" data-no-activator="">
                                                <i class="v-icon notranslate v-theme--light v-icon--size-default" aria-hidden="true">
                                                    <svg class="v-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                                        <path d="M5.59,7.41L10.18,12L5.59,16.59L7,18L13,12L7,6L5.59,7.41M16,6H18V18H16V6Z"></path>
                                                    </svg>
                                                </i>
                                            </span>
                                            <!----><!---->
                                        </button>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!----><!----><span class="v-card__underlay"></span>
            </div>
        </div>
    </div>
</main>








         