@{
    ViewData["Title"] = "Home Page";
}

<div id="token" class="page p-token hidden">
	<div class="fixed-wrapper"></div>
	<div class="js-scroll">
		<main class="page-wrapper">

			<section class="p-token__header">
				<h1 class="h--1 title">Token<i>omics</i></h1>
			</section>

			<section class="p-token__numbers">
				<div class="graphics">
					<div class="wrapper">
						<div class="t-center abs bird">
							<picture class="r " style="padding-bottom:78.947368421053%" data-ratio="0.78947368421053"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://chirpley.ai/library/media/token-bird.png" data-srcset="https://chirpley.ai/library/media/token-bird-320x0-c-default.png 320w, https://chirpley.ai/library/media/token-bird.png 608w" data-sizes="(min-width: 750px) 30vw, 90vw" alt="Bird"></picture>
						</div>
						<img class="graphic" src="../library/media/token-graphics.svg" alt="">
					</div>
				</div>
				<ul class="list">
					<li class="item">
						<div class="item-title">Pre-seed</div>
						<div class="item-percent">8%</div>
						<div class="item-number">80 000 000</div>
					</li>
					<li class="item">
						<div class="item-title">Seed</div>
						<div class="item-percent">2.5%</div>
						<div class="item-number">25 000 000</div>
					</li>
					<li class="item">
						<div class="item-title">Private</div>
						<div class="item-percent">2.7%</div>
						<div class="item-number">27 000 000</div>
					</li>
					<li class="item">
						<div class="item-title">KOL & Marketing</div>
						<div class="item-percent">1.8%</div>
						<div class="item-number">1 800 000</div>
					</li>
					<li class="item">
						<div class="item-title">Public (IDO)</div>
						<div class="item-percent">10%</div>
						<div class="item-number">100 000 000</div>
					</li>
					<li class="item">
						<div class="item-title">Ecosystem / Dev.</div>
						<div class="item-percent">10%</div>
						<div class="item-number">100 000 000</div>
					</li>
					<li class="item">
						<div class="item-title">Treasury</div>
						<div class="item-percent">8.5%</div>
						<div class="item-number">85 000 000</div>
					</li>
					<li class="item">
						<div class="item-title">Team</div>
						<div class="item-percent">10%</div>
						<div class="item-number">100 000 000</div>
					</li>
					<li class="item">
						<div class="item-title">Marketing</div>
						<div class="item-percent">15%</div>
						<div class="item-number">150 000 000</div>
					</li>
					<li class="item">
						<div class="item-title">Liquidity</div>
						<div class="item-percent">10%</div>
						<div class="item-number">100 000 000</div>
					</li>
					<li class="item">
						<div class="item-title">Community Incentives</div>
						<div class="item-percent">15%</div>
						<div class="item-number">150 000 000</div>
					</li>
					<li class="item">
						<div class="item-title">Advisors & Partners</div>
						<div class="item-percent">5.5%</div>
						<div class="item-number">55 000 000</div>
					</li>
					<li class="item">
						<div class="item-title">Early Adopters Airdrop</div>
						<div class="item-percent">1%</div>
						<div class="item-number">10 000 000</div>
					</li>
					<li class="item">
						<div class="item-title">Total</div>
						<div class="item-percent">100%</div>
						<div class="item-number">1 000 000 000</div>
					</li>
				</ul>
			</section>

			<section class="p-token__vesting-period">
				<div class="abs background"></div>
				<h2 class="title">Vesting Period</h2>
				<ul class="list">
					<li class="item">
						<div class="item-title">Pre-seed</div>
						<div class="item-number">12 month cliff followed by 18 months linear vesting</div>
					</li>
					<li class="item">
						<div class="item-title">Seed</div>
						<div class="item-number">8 month cliff followed by 12 months linear vesting</div>
					</li>
					<li class="item">
						<div class="item-title">Private</div>
						<div class="item-number">2 month cliff followed by 18 months linear vesting</div>
					</li>
					<li class="item">
						<div class="item-title">KOL & Marketing</div>
						<div class="item-number">3 month cliff followed by equal vesting for 12 months</div>
					</li>
					<li class="item">
						<div class="item-title">Public (IDO)</div>
						<div class="item-number">15% Released at TGE, then linear over 6 months</div>
					</li>
					<li class="item">
						<div class="item-title">Ecosystem / Dev.</div>
						<div class="item-number">3 months cliff followed by monthly vesting over 3 years</div>
					</li>
					<li class="item">
						<div class="item-title">Treasury</div>
						<div class="item-number">6 months cliff followed by monthly vesting over 3 years</div>
					</li>
					<li class="item">
						<div class="item-title">Team</div>
						<div class="item-number">1 year cliff followed by monthly vesting over 3 years</div>
					</li>
					<li class="item">
						<div class="item-title">Marketing</div>
						<div class="item-number">72 hr cliff followed by daily vesting over 4 years</div>
					</li>
					<li class="item">
						<div class="item-title">Commmunity Incentives</div>
						<div class="item-number">72 hr cliff followed by daily vesting over 4 years</div>
					</li>
					<li class="item">
						<div class="item-title">Advisors & Partners</div>
						<div class="item-number">1 year cliff followed by monthly vesting over 3 years</div>
					</li>
					<li class="item">
						<div class="item-title">Early Adopters Airdrop</div>
						<div class="item-number">20% Released at TGE, then monthly over 4 months</div>
					</li>
				</ul>
			</section>

			<section class="p-token__discount">
				<div class="discount-header">
					<div class="token" data-prllx="1.1" data-p-no-mask>
						<video class="token-loop lazy" autoplay muted playsinline loop>
							<source data-src="https://chirpley.ai/library/videos/chirpley-token-yellow.mp4" type="video/mp4"></source>
						</video>
					</div>
					<h2 class="title">receive 50% discount on transactions when paying with chirpley token</h2>
				</div>
				<div class="discount-content">
					<div class="card card-robot">
						<div class="card-bg"></div>
						<div class="card-wrapper" data-prllx=".7" data-p-no-mask>
							<div class="t-center robot">
								<picture class="r " style="padding-bottom:127.09497206704%" data-ratio="1.2709497206704"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://chirpley.ai/library/media/robot.png" data-srcset="https://chirpley.ai/library/media/robot-320x0-c-default.png 320w, https://chirpley.ai/library/media/robot-640x0-c-default.png 640w, https://chirpley.ai/library/media/robot-1024x0-c-default.png 1024w, https://chirpley.ai/library/media/robot.png 1074w" data-sizes="40vw" alt="Robot"></picture>
							</div>
						</div>
					</div>
					<div class="card card-text">
						<div class="card-bg"></div>
						<div class="card-wrapper">
							<h3 class="subtitle">Token <b>Utility</b></h3>
							<div class="text">
								<h4><b>$CHRP</b> is the deflationary utility token in the Chirpley ecosystem.</h4>
								<p class="p1">
									<ul>
										<li>
											The brand can make the payment in any currency, whether fiat or crypto. Because of the swapping mechanism in the underlying layer, any currency would be converted to $CHRP in the backend.
										</li>
										<li>
											20% gross margin is taken on each transaction out of which 1/5th is sent to a burn address directly.
										</li>
										Chirpley has set aside 15 percent of tokenomics for marketing purposes. A tiny percentage will be distributed every day and vested over a four-year period.
										Influencers will be paid in $CHRP automatically to promote the Chirpley platform and token, ensuring a steady supply of promotion for the platform and token. Also, it will unlock the future, fully automated and decentralized self-sustaining platform.
										</li>
										<li>
											Passive rewards through Staking. Influencers can choose to lock the $CHRP token for 30-60-90-120 etc. days on platform. Even in the case the token drops in value, they still get the passive rewards. Further, this creates the mechanism to hold and not panic sell, in case the value of the token drops, if ever.
										</li>
										<li>
											Staking also gives the holders voting power when Chirpley moves onto a DAO model in future, as the token of governance. Holders can make decisions on various releases and further rewards like NFTs etc.
										</li>
										<ul>
								</p>
							</div>
						</div>
					</div>
			</section>

		</main>
		@await Html.PartialAsync("_Footer")
	</div>
</div>
