@{
    ViewData["Title"] = "Home Page";
}

<div id="token" class="page p-token hidden">
	<div class="fixed-wrapper"></div>
	<div class="js-scroll">
		<main class="page-wrapper">

			<section class="p-token__header">
				<h1 class="h--1 title">Token<i>omics</i></h1>
			</section>


			<section class="p-token__numbers">
				<div class="graphics">
					<div class="wrapper">
						<div class="t-center abs bird">
							<picture class="r " style="padding-bottom:78.947368421053%" data-ratio="0.78947368421053"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/library/media/token-r-m.png" data-srcset="/library/media/token-r-m.png 320w, /library/media/token-r-m.png 608w" data-sizes="(min-width: 750px) 30vw, 90vw" alt="Bird"></picture>
						</div>
						<img class="graphic" src="/library/media/token-graphics.svg" alt="">
					</div>
				</div>
				<ul class="list">
					<li class="item">
						<div class="item-title">Airdrop holders SparkPro NFT</div>
						<div class="item-percent">50%</div>
						<div class="item-number">--</div>
					</li>
					<li class="item">
						<div class="item-title">Initial Liquidity</div>
						<div class="item-percent">40%</div>
						<div class="item-number">--</div>
					</li>
					<li class="item">
						<div class="item-title">Ecosystem</div>
						<div class="item-percent">10%</div>
						<div class="item-number">--</div>
					</li>
					
					<li class="item">
						<div class="item-title">Total</div>
						<div class="item-percent">100%</div>
						<div class="item-number">--</div>
					</li>
				</ul>
			</section>

			<section class="p-token__vesting-period">
				<div class="abs background"></div>
				<h2 class="title">General Rules</h2>
				<ul class="list">
					<li class="item">
						<div class="item-title">SparkPro Purchase</div>
						<div class="item-number">You can purchase a maximum of 2 SparkPro NFTs (one of each type).</div>
					</li>
					<li class="item">
						<div class="item-title">MKRS TOKEN</div>
						<div class="item-number">Each NFT sold will generate a total of 1,000,000 tokens.</div>
					</li>
					<li class="item">
						<div class="item-title">Distribution</div>
						<div class="item-number">The total amount will be divided as described in the tokenomics.</div>
					</li>
					<li class="item">
						<div class="item-title">Initial Liquidity</div>
						<div class="item-number">The liquidity pool will be created before the airdrop.</div>
					</li>
					<li class="item">
						<div class="item-title">Airdrop</div>
						<div class="item-number">The tokens will be distributed via airdrop to SparkPro holder wallets.</div>
					</li>
					
				</ul>
			</section>

			<section class="p-token__discount">
				<div class="discount-header">
					<div class="token" data-prllx="1.1" data-p-no-mask>
						<video class="token-loop lazy" autoplay muted playsinline loop>
							<source data-src="/library/videos/mkrs-token-yellow.mp4" type="video/mp4"></source>
						</video>
					</div>
					<h2 class="title">Get a 50% discount on fees paid with the MKRS token.</h2>
				</div>
				<div class="discount-content">
					<div class="card card-robot">
						<div class="card-bg"></div>
						<div class="card-wrapper" data-prllx=".7" data-p-no-mask>
							<div class="t-center robot">
								<picture class="r " style="padding-bottom:127.09497206704%" data-ratio="1.2709497206704"><img class="lazy" src="/library/media/maker_nft.gif" data-src="/library/media/maker_nft.gif" data-srcset="/library/media/maker_nft.png 320w, /library/media/maker_nft.gif 640w, /library/media/maker_nft.gif 1024w, /library/media/maker_nft.gif 1074w" data-sizes="40vw" alt="Robot"></picture>
							</div>
						</div>
					</div>
					<div class="card card-text">
						<div class="card-bg"></div>
						<div class="card-wrapper">
							<h3 class="subtitle">Token <b>Utility</b></h3>
							<div class="text">
								<h4><b>$MKRS</b> is the utility token in the Ada Makers ecosystem.</h4>
								<p class="p1">
									<ul>
										<li>
											Initially, the Creator will only be able to pay for their campaigns with ADA, but the additional service fee can be paid with either ADA or $MKRS Token. We will work to enable the token as a payment option for campaigns through automatic swaps as soon as possible.
										</li>
										<li>
											Each campaign has a cost of 10% of the budget amount. By paying this additional cost with $MKRS Token, you get a 50% discount on the fee.
										</li>
										<li>
											Each Maker pays a 10% fee on the withdrawal amount when cashing out their rewards. 20% of the total fee will be immediately used for a $MKRS Token buyback. The tokens from the buyback will be redistributed among the Makers as rewards.
										</li>
										
									<ul>
								</p>
							</div>
						</div>
					</div>
			</section>

		</main>
		@await Html.PartialAsync("_Footer")
	</div>
</div>
